<!DOCTYPE html>
<html>
@{
    Layout = null;
    ViewBag.Title = "增票资质显示";
    Jinher.AMP.BTP.Deploy.CustomDTO.VatInvoiceProofInfoDTO vatInvoiceProof = ViewBag.InvoiceInfoList;
}
    <link href="/Content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/ueditor_mini/themes/default/css/umeditor.min.css" type="text/css" rel="stylesheet" />
    <link type="text/css" href="/Content/default/jquery.ui.all.css" rel="stylesheet" />
    <link href="/Scripts/ueditor_mini/dialogs/image/image.css" type="text/css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="/Scripts/jquery.js"></script>
	<script type="text/javascript" src="/Scripts/jquery.extend.js"></script>
	<script type="text/javascript" src="/Scripts/jquery.ui.base.js"></script>
	<script type="text/javascript" src="/Scripts/i18n/jquery.ui-zh.js"></script>
	<script type="text/javascript" src="/Scripts/TableBox/jquery.ui.jhtablebox.js"></script>
	<link type="text/css" href="/Content/default/jquery.ui.all.css" rel="stylesheet" />
	<script src="/Scripts/Pager/jquery.ui.jhpager.js" type="text/javascript"></script>
	<script src="/Scripts/jquery.cookie.js" type="text/javascript"></script>
	<script src="/Content/Business/BusinessAllEvent.js"></script>
	<link href="/Content/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Scripts/ueditor_mini/umeditor.config.js"></script>
    <script type="text/javascript" src="/Scripts/ueditor_mini/umeditor.min.js"></script>
    <script type="text/javascript" src="/Scripts/ueditor_mini/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript" src="/Scripts/ueditor_mini/dialogs/link/link.js"></script>
    <script type="text/javascript" src="/Scripts/ueditor_mini/dialogs/image/image.js"></script>
     <style type="text/css">
        .body {
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-family: "微软雅黑";
            width: 800px;
        }
        .content {
        margin: 0 auto;
        color: #8C94A9;
        overflow: hidden;
        height: auto;
       }
       .spfb_t_l {
        float: left;
        overflow: hidden;
        }
        .spfb_t_l input
        {
            width: 200px;
            height: 27px;
            line-height: 27px;
            border: 1px solid #B8BFCF;
            border-radius: 3px;
        }
        .spfb_t_l span {
        margin-left: 18px;
       }
        .btn120
        {
            display: inline-block;
            width: 120px;
            height: 28px;
            line-height: 28px;
            background: url('/Content/default/images/btn120.png') no-repeat;
            text-align: center;
            vertical-align: middle;
            color: #5F7392;
            box-shadow: 1px 1px 2px #DBDBDB;
        }
        .formList .item
        {
            line-height: 28px;
            margin-bottom: 10px;
            min-height: 28px;
            padding-left: 130px;
        }
        .formList .item .label
        {
            display: block;
            float: left;
            width: 125px;
            line-height: 28px;
            padding-right: 5px;
            margin-left: -130px;
            _display: inline;
            text-align: right;
        }
        .up-logo.logo-pic
        {
            width: 84px;
            height: 84px;
            border: 1px solid #B7C0CD;
            float: left;
            margin-right: 15px;
        }
        .box
        {
            width: 66%;
            padding: 10px 0 10px 25px;
            height: auto;
            margin: 0 10px;
            min-width: 66%;
        }
        .spfb_t_l {
float: left;
overflow: hidden;
}
/*清除浏览器默认样式*/
h1, h2, h3, h4, h5, p, ul, li, div, span, dl, dd, dt, img, button, input, tr, td, table {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	font-weight: normal;
}
    </style>
    <script type="text/javascript">

        function showdiv() {
            document.getElementById("img_div").style.display = "block";
        }

        function shutdiv() {
            document.getElementById("img_div").style.display = "none";
        }

        function showdiv2() {
            document.getElementById("img_div2").style.display = "block";
        }

        function shutdiv2() {
            document.getElementById("img_div2").style.display = "none";
        }

        function showdiv3() {
            document.getElementById("img_div3").style.display = "block";
        }

        function shutdiv3() {
            document.getElementById("img_div3").style.display = "none";
        }
        $(function () {
            $('body').height(($('body').height() - 260) + "px");
            $('body').width(($('body').width() - 200) + "px");
        });
    </script>

<body style="margin: 0px; padding: 0px;height: 525px; width: 800px;">
    <div class="content">
        <div class="spfb_t_l" style="width: 800px">
            <ul class="formList">
                <li class="item"><span class="label">单位名称：</span> <span>@vatInvoiceProof.CompanyName</span>
                </li>
                <li class="item"><span class="label">纳税人识别码：</span> <span>@vatInvoiceProof.IdentifyNo</span>
                </li>
                <li class="item"><span class="label">注册地址：</span> <span>@vatInvoiceProof.Address</span>
                </li>
                <li class="item"><span class="label">注册电话：</span> <span>@vatInvoiceProof.Phone</span>
                </li>
                <li class="item"><span class="label">开户银行：</span> <span>@vatInvoiceProof.BankName</span>
                </li>
                <li class="item"><span class="label">银行账户：</span> <span>@vatInvoiceProof.BankCode</span>
                </li>
                <li class="item"><span class="label">营业执照复印件：</span>
                    <div class="up-logo">
                        <div class="logo-pic">
                            <img alt="" src="@vatInvoiceProof.BusinessLicence" style="margin: 0; padding: 0;border: 0;"
                                 width="80" height="80" id="CommodityImg"  onclick="showdiv()"/>
                        </div>
                    </div>
                </li>
                <li class="item"><span class="label">税务登记复印件：</span>
                    <div class="up-logo">
                        <div class="logo-pic">
                            <img alt="" src="@vatInvoiceProof.TaxRegistration"
                                 width="80" height="80" id="CommodityImg2" onclick="showdiv2()"/>
                        </div>
                    </div>
                </li>
                <li class="item"><span class="label">一般纳税人资格认证复印件：</span>
                    <div class="up-logo">
                        <div class="logo-pic">
                            <img alt="" src="@vatInvoiceProof.PersonalProof"
                                 width="80" height="80" id="CommodityImg3" onclick="showdiv3()"/>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="img_div" style="display: none; position: absolute; text-align: center; vertical-align: middle;margin: 0px; padding: 0px; width: 100%; height: 100%; opacity: 1.0">
            <img src="@vatInvoiceProof.BusinessLicence" style=" vertical-align: middle; max-width: 100%" />
            <img src="../../Content/Mobile/close.png" width="20em" height="20em" onclick="shutdiv()"
                 style="text-align: right; vertical-align: top; top: 10px; right: 10px; position: absolute" />
        </div>
        <div id="img_div2" style="display: none; position: absolute; text-align: center;vertical-align: middle; margin: 0px; padding: 0px; width: 100%; height: 100%;opacity: 1.0">
            <img src="@vatInvoiceProof.TaxRegistration" style=" vertical-align: middle" />
            <img src="../../Content/Mobile/close.png" width="20em" height="20em" onclick="shutdiv2()"
                 style="text-align: right; vertical-align: top; top: 10px; right: 10px;position: absolute" />
        </div>
        <div id="img_div3" style="display: none; position: absolute; text-align: center;vertical-align: middle; margin: 0px; padding: 0px; width: 100%; height: 100%;opacity: 1.0">
            <img src="@vatInvoiceProof.PersonalProof" style=" vertical-align: middle" />
            <img src="../../Content/Mobile/close.png" width="20em" height="20em" onclick="shutdiv3()"
                 style="text-align: right; vertical-align: top; top: 10px; right: 10px;position: absolute" />
        </div>
    </div>
</body>
</html>
