@using System.Web
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
    bool isShowAddCart = ViewBag.IsShowAddCart;
}
@helper Currency()
    {
    @Jinher.AMP.BTP.UI.Util.MobileCookies.GetCurrency();
}
 @section MTitleHtml
{
    <title>所有商品</title>
}
@section CssStyles{
    <link rel="stylesheet" href="/Content/Mobile/style/base.css" />
    <link rel="stylesheet" href="/Content/Mobile/zphStyle/normalize.css" />
    <link rel="stylesheet" href="/Content/Mobile/zphStyle/function.css" />
    <link rel="stylesheet" href="/Content/Mobile/zphStyle/general.css" />
    <link rel="stylesheet" href="/Content/Mobile/zphStyle/font-awesome.css" />
    <link rel="stylesheet" href="/Content/Mobile/zphStyle/skin.css" />
    <link href="../../Content/Mobile/zeptodialog/css/widget/dialog/dialog.css" rel="stylesheet"type="text/css" />
    <link href="../../Content/Mobile/zeptodialog/css/widget/dialog/dialog.default.css"rel="stylesheet" type="text/css" />
    <link href="../../Content/Mobile/zeptodialog/css/widget/dialog/dialog_demo.css" rel="stylesheet"type="text/css" />
    <link href="../../Content/Mobile/zphStyle/goodsListSelectVertical.css" rel="stylesheet"type="text/css" />
    <style type="text/css">
		body{
			width: 100%;
			max-width: 500px;
			margin: 0 auto;
		}
        .yhzknum
        {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            padding: 0 6px;
            background-color: rgb(230,220, 228);
            color: #FF0000;
            font-size: 12px;
            text-align: center;
        }
        .toporder
        {
            text-align: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            background-color: #fff;
        }
        .toporder ul
        {
            width: 100%;
            height: 100%;
            border-bottom: 1px solid #c8c7cc;
            overflow: hidden;
            font-size: .8rem;
            padding: 8px 0;
        }
        .toporder ul li
        {
            float: left;
            border-left: 1px solid #ccc;
            line-height: 1.2rem;
            width: 19.5%;
        }
        .toporder ul li:first-child
        {
            border-left: none;
        }
        #cdefault
        {
        }
        #cnewcom
        {
        }
     
        .kslider
        {
            width: 100%;
            overflow: hidden;
            margin: 0 auto;
            background: #f0f0f0;
        }
        
        .kslider .ks_warp
        {
            width: 100%;
        }
        
        .kslider .ks_ts
        {
            -webkit-transition: 500ms;
        }
        .kslider .ks_dbox
        {
            width: 100%;
            display: -webkit-box;
            text-align: left;
        }
        
        .kslider .ks_wt
        {
            display: -webkit-box;
            margin: 0px;
            padding: 0px;
            -webkit-box-pack: center;
        }
        .kslider .ks_wt li
        {
            text-align: center;
            list-style: none;
            background: -webkit-linear-gradient(top, #AAAAAA 0%,#979797 100%);
            color: #fff;
        }
        
        .ks_wt_1 .ks_wt li
        {
            -webkit-box-flex: 1;
            height: 35px;
            line-height: 35px;
            border-right: solid 1px #BBB;
        }
        .ks_wt_2 .ks_wt li
        {
            background: -webkit-linear-gradient(top, #e7e7e7 0%,#dfdfdf 100%);
            text-indent: 20px;
            height: 10px;
            width: 10px;
            overflow: hidden;
            border-radius: 100%;
            margin: 5px;
        }
        
        .ks_wt_1 .ks_wt .ks_t2
        {
            background: -webkit-linear-gradient(top, #e7e7e7 0%,#dfdfdf 100%);
            color: #000;
        }
        .ks_wt_2 .ks_wt .ks_t2
        {
            background: -webkit-linear-gradient(top, #AAAAAA 0%,#979797 100%);
            -webkit-animation: kt2 500ms linear;
        }
        .ks_warp img
        {
            width: 100%;
            height: 200px;
        }
        .title
        {
            background-color: Black;
            opacity: 0.6;
        }
        .ks_warp
        {
            position: relative;
            z-index: 10;
        }
        .zcz
        {
            position: absolute;
            bottom: 4px;
            right: left;
            padding: 0 6px;
            background-color: rgb(181, 13, 23);
            color: #fff;
            border-radius: 3px;
            color: White;
        }
        #main
        {
            margin-top: 38px;
            background-color: #f2f1f5;
        }
        .item_1
        {
            box-sizing: border-box;
            -moz-box-sizing: border-box; /* Firefox */
            -webkit-box-sizing: border-box; /* Safari */
           
        }
        .item_1_s
        {
            background-color: #fff;
            font-size: .8rem;
            border-bottom: 1px solid #dcdce0;
        }
        #box
        {
            margin-bottom: 0 !important;
        }
        .double_row
        {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            white-space: normal;
            word-break: break-all;
        }
        
        #number .numjj
        {
            display: inline-block;
            padding: 0px;
            text-align: center;
            line-height: 25px;
            background: none;
            margin: 0 !important;
        }
        #number .span_number
        {
            margin: 0 !important;
            height: 25px;
            text-align: center;
            -webkit-appearance: none;
        }
        .span_com
        {
            width: 26px;
            height: 26px;
            margin-top: 0.2em !important;
            background-size: 25px 25px;
        }
        
        .shopping-cart
        {
            color: #ff0054;
            width: 30px;
            height: 30px;
            line-height: 28px;
            text-align: center;
            border: 1px solid #ff0054;
            border-radius: 50%;
            font-size: 1.2rem;
            background: #ffe5ee;
            margin: 8px 10px 0 0;
        }
        .li_disable
        { 
            opacity: .3;  
            
        }
        .item_1 .item_title
        {
            font-size: .8rem;
            line-height: 1.2;
            text-overflow: ellipsis;
            height: 1.92rem;
            padding: 0;
            color: #050505;
            font-family: sans-serif;
            width: initial;
            margin: 10px 5px;
             
        }
    </style>
}
@section ClientScript{
    <script src="../../Scripts/CommLib.js" type="text/javascript"></script>
    <script src="../../Content/Mobile/zepto.kslider.js" type="text/javascript"></script>
    <script src="../../Content/Mobile/touchScroll.js" type="text/javascript"></script>
    <script src="../../Content/Mobile/behaviorRecord.js" type="text/javascript"></script>
    <script type="text/javascript">
        var html = "";
        var dialog4 = "";
        var service_type = "0x0001";

        //底部导航原始状态（是否显示）
        var _footdiPrevDisplay = "none";
        //多属性选择结果
        var _masSelectedResult = new Object();

        var srcType = getQueryString('SrcType');
        if (srcType != undefined && srcType != "" && srcType != "null" && srcType != null && srcType != "undefined") {

            sessionStorage.SrcType = getQueryString('SrcType');
        }

        var srcTagId = getQueryString('SrcTagId');

        if (srcTagId != undefined && srcTagId != "" && srcTagId != "null" && srcTagId != null && srcTagId != "undefined") {

            sessionStorage.SrcTagId = getQueryString('SrcTagId');
        }
        var cpsId = getQueryString('CPSId');

        if (cpsId != undefined && cpsId != "" && cpsId != "null" && cpsId != null && cpsId != "undefined") {
            sessionStorage.CPSId = getQueryString('CPSId');
        }
        
        if (getQueryString('isStart') == 0) {
            toast("亲，活动还未开始哦~");
        }
        var comid = getQueryString("commodityIds");
        var comlength = 0
        if (comid != undefined && comid != "" && comid != "null" && comid != null && comid != "undefined") {
            comlength = comid.length;
        }
        var areaCode = "";
        if ((sessionStorage.ProductType == "appcjzy" || sessionStorage.ProductType == "webcjzy") && JsVilaDataNull(getCookie("selectCityCode"))) {
            areaCode = getCookie("selectCityCode") || '';
        }
        if (getQueryString("source") == "share" && comlength > 10) {
            getDataAjax({
                url: '/Mobile/GetCommodityByIds',
                async: false,
                data: { appId: getQueryString('shopId'), commodityIds: getQueryString("commodityIds"), areaCode: areaCode },
                callback: function(data) {

                    if (!data || data.length == 0) {
                        $("#findNone").show();
                        return;
                    } else {
                        $("#findNone").hide();
                    }
                    if (data.length > 0) {
                        var intlen = 0;
                        if (data.length > 5) {
                            intlen = 5;
                        } else {
                            intlen = data.length;
                        }
                        html += "<div id=\"divs2\" class=\"kslider\">\n";
                        html += "<div class=\"ks_dbox ks_ts\">\n";
                        for (var i = 0; i < intlen; i++) {
                            html += "<div class=\"ks_warp\">\n";
                            html += "<a href=\"/Mobile/CommodityDetail?commodityId=" + data[i].Id + "&shopId=" + sessionStorage.appId + "&user=" + getUserId() + "&source=" + sessionStorage.source + "&SrcType=" + sessionStorage.SrcType + "&SrcTagId=" + sessionStorage.SrcTagId + '&share=' + getShareId() + "\"><img src=\"" + data[i].Pic + "\" /></a>\n";
                            html += "<div class=\"title\"><p>" + data[i].Name + "</p></div>\n";
                            html += "</div>\n";
                        }
                        html += "</div><ul class=\"ks_wt\">\n";
                        for (var i = 0; i < intlen; i++) {
                            if (i == 0) {
                                html += "<li class=\"ks_t2\"></li>\n";
                            } else {
                                html += "<li></li>\n";
                            }
                        }
                        html += "</ul></div>\n";
                        $(".imgfor").html(html);
                        k = $("#divs1").slider({ change: function(e) { console.log(e); } });
                        //js添加一页并且跳转到第4页
                        k.add("标题", "内容").tab(3);
                        //删除页
                        //k.remove(0);
                        //小圆形按钮标题  每隔3秒自动滚动
                        $("#divs2").slider({ className: "ks_wt_2 myimg", tick: 3000 });
                    }
                },
                beforeSend: function() {

                }
            });

        }
        CommodityList();

        window.onload = function() {
            saveContextDTOByUrl();
            if (!sessionStorage.appId || sessionStorage.appId == "null" || sessionStorage.appId == "undefined") {
                sessionStorage.appId = sessionStorage.appIdCong;
            }
            if (getQueryString('opa') == "search") {
                var nav = document.getElementById('Commodity_nav'),
                    $nav = $(nav);
                $nav.css({ position: "fixed", display: "block", left: "0px", height: $(window).height() });
                footmenu($("#search"));
            } else {
                footmenu($("#guang"));
            }
        };

        $(function() {
            /*
            参数：config

            change:tab页变更事件
            参数e: 当前页码
            tick:自动滚动间隔时间毫秒 (不设置则不自动滚动)
            maxWidth:容器最大宽度 (默认有100%)
            minWidth:容器最小宽度 (默认有100%)
            className:样式类名
            "ks_wt_1" 标题栏-方形 (默认)
            "ks_wt_2" 标题栏-小圆形
            或者你自定义的类名

            */


            //$(".toporder").width($(window).width());
            //$(".toporder ul li").width(($(window).width() / 4) - 2.1);
            sessionStorage.ComTypeSearch = 0;
            if (getQueryString("sortType") == "New") {
                csson($("#cnewcom"));
                //默认
            }
            $("#cdefault").bind("click", function() {
                csson($(this));
                sessionStorage.page = 1;
                sessionStorage.ComTypeSearch = 1;
                window.itemIdList = {};
                $("#items").html("");
                $("#itemsListMode").html("");
                CommodityList();
                $("#ajaxLoadBlind").remove();
            });
            //按销量排序
            $("#cnum").bind("click", function() {
                csson($(this));
                ajaxLoading('22', '')
                sessionStorage.page = 1;
                sessionStorage.ComTypeSearch = 3;
                ComOrderList(0, 0, 1);
            });
            //按新品排序
            $("#cnewcom").bind("click", function() {
                csson($(this));
                ajaxLoading('22', '')
                sessionStorage.page = 1;
                sessionStorage.ComTypeSearch = 4;
                ComOrderList(2, 0, 1);
            });
            //按价格排序
            $("#cprice").bind("click", function() {
                csson($(this));
                ajaxLoading('22', '')
                sessionStorage.page = 1;
                var state = 1;
                if (sessionStorage.ComTypeSearch != 2) {
                    $("#imprior").attr("src", "../../Content/Mobile/sort_price_asc.png");
                    sessionStorage.PriceState = 1;
                } else {
                    if ($("#imprior").attr("src") == "../../Content/Mobile/sort_price_asc.png") {
                        $("#imprior").attr("src", "../../Content/Mobile/sort_price_desc.png");
                        sessionStorage.PriceState = 0;
                    } else {
                        $("#imprior").attr("src", "../../Content/Mobile/sort_price_asc.png");
                        sessionStorage.PriceState = 1;
                    }
                }

                sessionStorage.ComTypeSearch = 2;
                ComOrderList(1, sessionStorage.PriceState, 1);
            });
            //切换显示方式。
            $("#liSwitchDisplayMode").bind("click", function() {
                var cltag = $(this).attr('cl-tag');
                if (cltag == "tolist") {
                    $(this).attr("cl-tag", "to2vertical");
                    $(this).find("img").attr("src", "/Content/Mobile/to2vertical.png");

                    $("#items").hide();
                    $("#itemsListMode").show();
                } else {
                    $(this).attr("cl-tag", "tolist");
                    $(this).find("img").attr("src", "/Content/Mobile/tolist.png");

                    $("#items").show();
                    $("#itemsListMode").hide();
                }
            });

            //如果有众筹活动 加载公告
            if (GetCrowdfundingStateComList(sessionStorage.appId)) {
                //render模式
                var gongurl = getBtpDomain() + "Mobile/CrowdfundingSlogan?shopId=" + sessionStorage.appId;
                dialog4 = $.ui.dialog({
                    width: 295,
                    autoOpen: false,
                    closeBtn: false,
                    buttons: {
                        '取消': function() {
                            this.close();
                        }
                    },
                    content: "<div id=\"loadcrowd\" style=\"height: 350px; width: 300px;\"><div>"
                });
                dialog4.data('_wrap').addClass('share-dialog');
                $("#loadcrowd").load(gongurl);

                //                $(".zcz").bind("click", function () {
                //                    $(".ui-dialog-btns").hide();

                //                    dialog4.open();
                //                });
            }
            //行为记录-商品列表进入页面
            //            logBTP(sessionStorage.SrcType, service_type, "0x0001");

            if (DealLoginPartial != undefined) {
                //设置登录成功之后回调函数
                DealLoginPartial.setCallback(function() {
                    //toast("登录成功！");
                    AddToCart();
                });
            }


            //设置加减数量按钮事件
            numberEvent();

            _footdiPrevDisplay = $(".footdi").css("display");

            sessionStorage.commodityNavList = "";
            getNavList();


            //商品属性选择子页面发送通知使用。
            window.addEventListener('message', function(e) {
                var data = e.data;
                //恢复窗口的滚动条。
                $("body").css("overflow-y", "auto");
                if (data == "close") {
                    $("#divMasRoot").hide();
                } else {
                    $("#divMasRoot").hide();
                    _masSelectedResult = e.data;
                    //sessionStorage["seledResult_" + data.operType] = JSON.stringify(data);
                    setSessionStorage('commodityUpInfo', 'number', data.number);
                    setSessionStorage('commodityUpInfo', 'size', data.size);
                    setSessionStorage('commodityUpInfo', 'color', data.color);
                    setSessionStorage('commodityUpInfo', 'price', data.price);
                    setSessionStorage('commodityUpInfo', 'realPrice', data.realPrice);
                    sessionStorage.CommodityStockId = data.CommodityStockId;

                    //加入购物车
                    if (data.operType == 1) {
                        addtoshopcart();
                    }
                }
            }, false);
        });

        function csson(obj) {

            $(".toporder ul li").each(function(i) {
                $(this).removeClass("topon");
            });
            $(obj).addClass("topon");
        }

        ;


        //获取APPid是否还在众筹中

        function GetCrowdfundingStateComList(appid) {
            //start  GetCrowdfundingState
            var result = false;

            getDataAjax({
                url: '/Mobile/GetCrowdfundingState',
                data: { "appId": appid },
                async: false,
                callback: function(data) {
                    if (data.ResultCode == 0) {
                        $(".zcz").show();
                        result = true;
                    }

                    $("#ajaxLoadBlind").remove();

                },
                beforeSend: function() {
                    ajaxLoading('22', '');
                },
                error: function() {
                    $("#ajaxLoadBlind").remove();
                    return result;
                }
            });
            return result;
        }

        function tanchucrowd() {
            $(".ui-dialog-btns").hide();
            dialog4.open();
        }


        //加入购物车。

        function addtoshopcart() {
            logBTP(sessionStorage.SrcType, service_type, "0x0004", sessionStorage.commodityId_2 || getQueryString('commodityId'));
            ajaxLoading('22', '');
            var commodityId = _commodityItemRootElement.data("id");
            var commodityInfo = _commodityListData.GetFirstElement("Id", commodityId);
            var data = {
                appId: sessionStorage.appId || getQueryString('appId'),
                commodityId: commodityId,
                userId: getUserId()
            };
            //todo sessionStorage.CommodityStockId从哪儿来？？？？？？？？？？？
            var checkdata = "{\"diyGroupId\":\"00000000-0000-0000-0000-000000000000\" ,\"promotionType\":\"-1\" ,\"UserID\":\"" + getUserId() + "\" ,\"CommodityIdAndStockIds\":[" + "{\"CommodityId\":\"" + commodityId + "\" ,\"CommodityStockId\":\"" + sessionStorage.CommodityStockId + "\"}" + "]}";

            //获取数据.
            getDataAjax2({
                url: '/Mobile/CheckCommodity',
                data: checkdata,
                async: false,
                callback: function(data) {
                    ajaxLoading('22', '');
                    var span_number = $('.span_number').val();
                    if (data[0].State == 1) {
                        toast('商品已下架，不能购买');
                    } else if (data[0].State == 3) {
                        toast('商品已删除，不能购买');
                    } else if (data[0].IsNeedPresell && !data[0].IsPreselled) {
                        toast('未预约，不能购买');
                    } else if (data[0].LimitBuyEach > 0 && span_number > data[0].LimitBuyEach) {
                        toast('超过每人限购数量，不能购买');
                    } else if (span_number > data[0].Stock || (data[0].LimitBuyTotal > 0 && span_number > (data[0].LimitBuyTotal - data[0].SurplusLimitBuyTotal))) {
                        toast('数量不足或超出限购数量.不能购买');
                    } else {

                        var sessionData = JSON.parse(sessionStorage.commodityUpInfo);
                        var postData =
                        {
                            CommodityId: commodityId,         //商品ID       
                            CommodityNumber: $('.span_number').val(), //商品数量
                            SizeAndColorId: (sessionData.color ? sessionData.color : '') + ',' + (sessionData.size ? sessionData.size : ''), //尺寸颜色
                            UserId: getUserId(),
                            AppId: sessionStorage.appId,
                            EsAppId: getEsAppId()
                        };

                        //添加到购物车
                        getDataAjax2({
                            url: '/Mobile/SaveShoppingCartNew',
                            data: JSON.stringify(postData),
                            callback: function(data) {
                                if (data.Message == 'Success') {
                                    var $addCommodity = $('#addCommodity');
                                    $addCommodity.height($(document).height()).hide();
                                    if (_footdiPrevDisplay != "none") {
                                        $(".footdi").show();
                                    }
                                    toast("加入购物车成功");
                                } else {
                                    ajaxLoading(2, '');
                                    toast(data.Message);
                                }
                            }
                        });
                    }
                    $("#ajaxLoadBlind").remove();
                },
                beforeSend: function() {
                },
                error: function() {
                    $("#ajaxLoadBlind").remove();
                }
            });

        }

//显示 商品属性选择框。

        function showMasIframe(operType) {
            var commodityInfo = JSON.parse(sessionStorage.commodityInfo);
            //window.frames[0].postMessage('getcolor', 'http://testbtp.iuoooo.com/');
            //document.getElementById("iframeMas").window.showByCommodity(commodityInfo, commodityInfo, operType);
            document.getElementById("iframeMas").contentWindow.postMessage({ commodityInfo: commodityInfo, operType: operType }, "*");
            $("#iframeMas").width($(document).width());
            $("#iframeMas").height($(document).height());
            $("#divMasRoot").show();
            //隐藏窗口的滚动条。
            $("body").css("overflow-y", "hidden");
        }

        function GetCommodityAttrStocks(commodityInfo) {
            getDataAjax2({
                url: '/Mobile/GetCommodityAttrStocks',
                data: { commodityId: commodityInfo.Id },
                callback: function (data) {
                    if (data.ResultCode == 0) {
                        var cinfoComplete = $.extend(commodityInfo, data.Data);
                        sessionStorage.commodityInfo = JSON.stringify(cinfoComplete);
                        showMasIframe(1);
                    }
                },
                error: function (date, text) {
                    toast("操作失败");
                }
            });
        }

        //当前点击的商品项的Item的根节点。
        var _commodityItemRootElement = null;


        function AddToCart() {
            if (_commodityItemRootElement == null) {
                return;
            }


            //清空数据。
            $('.span_number').val("1");
            setSessionStorage('commodityUpInfo', 'number', "1");
            sessionStorage.CommodityStockId = null;
            setSessionStorage('commodityUpInfo', 'color', "");
            setSessionStorage('commodityUpInfo', 'size', "");

            var commodityId = _commodityItemRootElement.data("id");
            var commodityInfo = _commodityListData.GetFirstElement("Id", commodityId);

            var isMultAttribute = commodityInfo.IsMultAttribute;
            if (isMultAttribute) {
                $(".footdi").hide();
                GetCommodityAttrStocks(commodityInfo);
            } else {
                //如果商品是单一属性（和属性值），直接加入购物车。
                getDataAjax({
                    url: '/Mobile/CheckSecKillBuy',
                    data: { commodityId: commodityId },
                    callback: function(result) {
                        if (result) {
                            addtoshopcart();
                        } else {
                            toast("秒杀马上开始！");
                        }
                    }
                });
            }
        }
    </script>
}

<div id="box">
    <div id="Commodity_nav">
        <div class="nav_search">
            <div class="nav_search_1">
                <input type="text" />
                <span id="nav_search_click"></span>
            </div>
        </div>
        <div class="nav_list">
            <h2 class="title">
                <span class="title_1">所有商品</span>
            </h2>
            <ul id="nav_list">
            </ul>
        </div>
    </div>
    <div id="main" style="padding: 0" class="">
        <div id="top_loading">
            <span>下拉可刷新</span>
        </div>
        <div class="toporder">
            <ul>
                <li class="topon" id="cdefault">默认</li>
                <li id="cprice" style="position: relative;">价格 <span style="margin: 6px 1px 0;">
                    <img id="imprior" alt="" style="width: 6px; height: 10px;" src="../../Content/Mobile/sort_price_asc.png" /></span>
                </li>
                <li id="cnum">销量</li>
                <li id="cnewcom">新品</li>
                <li id="liSwitchDisplayMode" cl-tag="tolist">
                    <img src="/Content/Mobile/tolist.png" style="width: 18px; height: 18px;" />
                </li>
            </ul>
        </div>
        <div class="imgfor">
        </div>       
        <div class="item_1 noDisplay" id="parent_item">
            <div class="item_1_s">
                <div class="position_r">
                    <div class="yhzknum">
                    </div>
                    <img class="img" src="" alt="" />
                    <div class="zk">
                    </div>
                    <div class="zcz" style="background: url(../../Content/Mobile/redredenvelope/smallcrowd.png);
                        background-repeat: no-repeat; height: 24px; width: 37px; display: none;">
                    </div>
                    <div class="mb_box noDisplay">
                        <div class="mb">
                        </div>
                        <p class="mb_1">
                            已售完</p>
                    </div>
                    <div class="selfTake noDisplay">
                        <img class="selfTakeImg" src="/Images/selftake.png" alt="自提" />
                    </div>
                </div>
                <p class="item_title double_row">
                    {name}</p>
                <p class="item_price">
                    <span class="price_1">{price1}</span><span class="price_2">{price2}</span>
                </p>
                 @if (isShowAddCart)
                 {
                    <div style="position: relative;">
                        <span class="icon i-carts shopping-cart pull-right" style="position: absolute; top: -42px;
                            right: 0px;"></span>
                    </div> 
                 }
            </div>
        </div>
        <div id="" style="display: none; position: absolute; bottom: 10px; right: 5px; width: 60px;
            height: 30px;">
            <img src="../../Content/Mobile/redredenvelope/smallcrowd.png">
        </div>
        <script type="text/javascript">
            setSessionStorageItemHeightAndImgHeight();
        </script>
        <div id="items" class="clearFloat">
        </div>
        <div id="itemsListMode" class="u-presale-list" style="display: none;">
        </div>
        <div id="findNone" style="display:none; margin-top:10px; color:#ccc; text-align:center;">没有找到相关商品</div>
        <div id="footer_loading">
            <span>获取更多信息</span>
        </div>
       
    </div>
</div>
<div id="divMasRoot" style="position: fixed; bottom: 0px; left: 0px; z-index: 210;
    display: none;">
    <iframe id="iframeMas" src="/Mobile/MultiAttributeSelector@("?appId="+Request["appId"])"></iframe>
</div>
<div class="yingc" style="display: none;">
    <div class="item_1_s">
        <div class="position_r">
            <div class="yhzknum">
            </div>
            <img src="" alt="" />
            <div class="zk">
            </div>
            <div class="mb_box noDisplay">
                <div class="mb">
                </div>
                <p class="mb_1">
                    已售完</p>
            </div>
        </div>
        <p class="item_title">
            {name}</p>
        <p class="item_price">
            <span class="price_1">{price1}</span><span class="price_2">{price2}</span></p>
    </div>
</div>
@Html.Raw(@Jinher.AMP.BTP.UI.Util.WebUtil.GetBehaviorRecordJs())
<div id="divCommodityItemListMode" class="u-presale-list" style="display: none;">
    <a href="javascript:void(0)" class="item" data-id="{Id}">
        <div class="media-photo">
            <img {srckey}="{Pic}" style="width: 100px; height: 100px;" />
            <img src="/Images/selftake.png" alt="自提" style="width: 100px; height: 100px; display: {SelfTakeDisplay}" />
            <div class="shadow" style="display: {FloatMsg_Display};">
                {FloatMsg}</div>
        </div>
        <div class="media-body" style="position:relative;margin-top:0px;">
            <div class="item-info" style="height:auto;">
                {Name}</div>
            <div style="height:20px;margin-top:4px;">
                {LimitBuy}</div>
            <div class="item-buying clearfix" style="position:absolute;bottom:0px;">
                <div class="item-price pull-left" >
                    <span class="present"><span>@Currency()</span>{Price_1}</span> <del  style="text-decoration: line-through;display: {Price_2_Display}"><span>@Currency()</span>{Price_2}</del>
                </div>
                @if (isShowAddCart)
                {
                    <span class="icon i-carts shopping-cart pull-right"></span>
                }
            </div>
        </div>
    </a>
</div>
