@model Jinher.AMP.BTP.Deploy.CustomDTO.PromotionHotSDTO
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
    var hasSilder = (Model.promotionSDTO != null && Model.promotionSDTO.Count > 1) || (Model.commoditySDTO != null && Model.commoditySDTO.Count > 1);
}
@section CssStyles{
    <link rel="stylesheet" href="/Content/Mobile/css.css" />
    <link rel="stylesheet" href="/Content/Mobile/style/base.css" />
    <link rel="stylesheet" href="/Content/Mobile/zphStyle/normalize.css" />
    <link rel="stylesheet" href="/Content/Mobile/zphStyle/function.css" />
    <link rel="stylesheet" href="/Content/Mobile/zphStyle/general.css" />
    <link rel="stylesheet" href="/Content/Mobile/zphStyle/font-awesome.css" />
    <link rel="stylesheet" href="/Content/Mobile/zphStyle/skin.css" />
}
@section ClientScript{
    <script src="/Content/Mobile/zepto.min.js" type="text/javascript"></script>
    <script type="text/javascript">

    var starIndex = 0;
	        var arryImgsDescrip = [];
	        var arryImgsDiscountInfo = [];
            var arryImgsPromotionTime = [];
	        var ImgsCount = 0;
	    $(function () {
	         saveContextDTOByUrl();
            ImgsCount = @((Model.promotionSDTO != null && Model.promotionSDTO.Count > 0) ? Model.promotionSDTO.Count : ((Model.commoditySDTO != null && Model.commoditySDTO.Count > 0) ? Model.commoditySDTO.Count : 0));
            @if (Model.promotionSDTO != null && Model.promotionSDTO.Count > 0)
            {
                for (var i = 0; i < Model.promotionSDTO.Count; i++)
                {
                    if (Model.promotionSDTO[i].StartTime > DateTime.Now)
                    {
                            <text>
                            var rr = '@Model.promotionSDTO[i].StartTime.Subtract(DateTime.Now).Days';
//                            if(rr == '0'){
//                                rr = "1";
//                            }
                            arryImgsPromotionTime.push((rr*1+1)+"天后开始");
                            </text>
                    }
                    else
                    {
                            <text>
                            rr = '@Model.promotionSDTO[i].EndTime.Subtract(DateTime.Now).Days';
                            if(rr == '0'){
                                rr = "1";
                            };
                            arryImgsPromotionTime.push("剩"+rr+"天");
                            </text>
                    }
                    if (Model.promotionSDTO[i].DiscountPrice != null && Model.promotionSDTO[i].Intensity == (decimal)10.00)
                    {                           
                         
                        <text>
                       arryImgsDescrip.push('@Model.promotionSDTO[i].Name');
                       arryImgsDiscountInfo.push("优惠价"+ RemoveDecimalEndZero(parseFloat('@Model.promotionSDTO[i].DiscountPrice.Value'))+" 起");
                       </text>
                    }
                    else
                    {
                       <text>
                       arryImgsDescrip.push('@Model.promotionSDTO[i].Name');
                       arryImgsDiscountInfo.push(RemoveDecimalEndZero(parseFloat('@Model.promotionSDTO[i].Intensity')) +" 折");
                        </text>
                    }
                }
            }
            else if (Model.commoditySDTO != null)
            {
                for (var i = 0; i < Model.commoditySDTO.Count; i++)
                {
                    <text>
                       arryImgsDescrip.push('@Model.commoditySDTO[i].Name');
                     </text>
                }
            }

             $("#imgDescrip").text(arryImgsDescrip[0]);
                if(arryImgsDiscountInfo.length > 0){
	                $("#discountInfo").text(arryImgsDiscountInfo[0]);
                }
                if(arryImgsPromotionTime.length > 0){
	                $("#promotionTime").text(arryImgsPromotionTime[0]);
                }

	        

        //设置图片高度与宽度
		var tmpImg = $('<img/>').clone().attr('src', '/Content/Mobile/2.jpg?' + new Date().getTime());
        
            new ImgItem();

	    });

        function RemoveDecimalEndZero(value){
            return (value.toFixed(2)*100/100);
        }

        /**
 * 声明图片相关事件类
 */
function ImgItem() {
	var min_width = document.getElementsByTagName('body')[0].clientWidth;//获取浏览器窗口宽度
	var min_height = document.getElementsByTagName('body')[0].clientHeight;//获取浏览器窗口高度
	var img_box = document.getElementById('img');//获取页面中图片标签
	var img = img_box.getElementsByClassName('img_item')[0].getElementsByTagName('img');//获取图片标签内所有img对象
	var img_item = img_box.getElementsByClassName('img_item')[0];//第一个img对象
	var img_length = img.length;//容器内img对象数量
	var item_width = min_width * img_length;//图片容器队列宽度
	var img_height;//单个图片高度
	var img_width;//单个图片宽度

	/**
	 * 创建头部当前图片位置标签
	 *
	 * 标记内容为中文符号下的 · 符号(波浪线按钮)通过修改字体大小达到效果
	 *
	 * 如出现bug.将修改为英文标点的句号.
	 */
	function createMakeImage() {
		//获取插入标签容器对象
		var make = document.getElementById('make');
		//创建一个span对象
		var makeBox = document.createElement('span');
		//插入内容
        makeBox.innerHTML = '●';
		//遍历图片个数,生成同个数的标记
		for (var i = 0; i < img_length; i++) {
			//克隆对象.
			var clone = makeBox.cloneNode(true);
			//第一位添加选中颜色
			if (!i) {
				clone.style.color = '#FF0054';
				clone.className="current";
			}
			//将标记对象插入容器对象内.
			make.appendChild(clone);
		}
		//获取当期标签对象的宽度,并除以2,得到的值将是居中偏移量的值.
		make.style.cssText = 'margin-left:' + -(make.clientWidth / 2) + 'px;';
	}

	/**
	 * 设置单个图片宽度.
	 *
	 */
	function setImgItemWidth() {
		//遍历图片个数.对每个图片进行宽度设置.
		//将宽度设置为当期窗口大小.
		for (var i = 0; i < img_length; i++) {
			img[i].style.maxWidth = min_width + 'px';
			img[i].style.cssText = 'max-width:' + min_width + 'px;min-width:' + min_width + 'px;';
		}
		var clone_img_element = document.getElementById('clone_img_element');
		//初始化单个图片高度
		img_height = min_width / clone_img_element.width * clone_img_element.height;
		//初始化单个图片宽度
		img_width = min_width;
		//设置图片列表最大宽度.并设置边距
		img_item.style.cssText = 'width:' + item_width + 'px;left:0 ;z-index:0;';
		//设置图片容器高度.该容器下部分的内容错位
		img_box.style.height = img_width + 'px';//img_height + 'px';
		
	}

	/**
	 * 图片拖动事件
	 */
	function setImgItemEvent() {
		var pageX;//按下时的X坐标
		var pageY;//按下时Y坐标
		var move;//移动偏移量
		var moveX;//将要移动的值
		var boxLeft;//当前容器列表left值
		var coordinate = [];//保存图片坐标值
		var item_number = 0;//图片移动标记.
		var make_item = document.getElementById('make').getElementsByTagName('span');//当前图片位置标记对象.
		//遍历图片个数.将图片坐标插入数组内
		for (var i = 0; i < img_length; i++) {
			coordinate.push(img[i].offsetLeft);
		}

		img_box.addEventListener('click', function (e) {
			var element = $(e.target);
			var img = element.clone();
			img.css({
//					maxWidth: '98%',
//					minWidth: '98%'
			});

			$('#img_show_box').show().find('.insert_img').append(img).css({
				top: img.height() / 2,
				left: (function () {
					var width = img.width();
					if (width <= $(window).width()) {
						return 0;
					} else {
						return img.width() / 2
					}
				})()
			});
		});

		$('#img_show_box').on('click', function (e) {
			$(this).hide().find('.insert_img').empty();
		});

		//按下时事件.
		img_box.addEventListener('touchstart', function (e) {
//			e.preventDefault();
			var touch = e.changedTouches[0];
			//获取当前容器列表的left值
			boxLeft = parseInt(img_item.style.left);
			//获取当前按下时x值
			pageX = touch.pageX;
		});
		//移动时事件
		img_box.addEventListener('touchmove', function (e) {
			e.preventDefault();
			var touch = e.changedTouches[0];
			//移动偏移量
			move = touch.pageX - pageX;
			//将要移动的值
			moveX = boxLeft + move;
			//给容器移动
			img_item.style.left = moveX + 'px';
		});
		//抬起时
		img_box.addEventListener('touchend', function (e) {
//			e.preventDefault();
			var minLeft = 0;//最左边距
			var maxRight = item_width - img_width;//最右边距
			//当移动量大于最左边距时,将图片列表容器归位
			if (moveX > minLeft) {
				img_item.style.left = minLeft;
			} else if (Math.abs(moveX) > maxRight) {//当最右边距超出时,重新归位
				img_item.style.left = -maxRight + 'px';
			}

			//设置相关事件
			//1为向左移动
			//2为向右移动.
			function moveEvent(type) {
				switch (type) {
					case 1:
						moveFun(1);
						break;
					case 2:
						moveFun(0);
						break;
				}
				//相关事件函数.
				//number为坐标跳转值
				function moveFun(number) {
					for (var i = 0; i < img_length; i++) {
						var moveNumber = i + number;
						if (moveNumber < img_length && moveNumber >= 0) {
							if (Math.abs(moveX) > coordinate[i] && Math.abs(moveX) < coordinate[i + 1]) {
								item_number = moveNumber;
								img_item.style.left = -coordinate[moveNumber] + 'px'
							}
						}
					}
				}

				//遍历标记容器内容.将颜色重置.
				for (var i = 0; i < make_item.length; i++) {
					make_item[i].style.color = '#fff';
					make_item[i].className=""; 
				}
				//对当前图片标签进行上色.
				make_item[item_number].style.color = '#FF0054';
				make_item[item_number].setAttribute('class', 'current');

			}

			//判断是向右移动还是向左移动.
			//正数为向左移动.
			//负数为向右移动.
			if (move < 0) {
				if (Math.abs(move) > 60) {
					moveEvent(1);
                    starIndex++;
	                if (starIndex >= ImgsCount) {
	                    starIndex--;
	                }
				} else {
					img_item.style.left = -coordinate[item_number] + 'px'
				}
			} else {
				if (Math.abs(move) > 60) {
					moveEvent(2);
                    starIndex--;
	                if (starIndex < 0) {
	                    starIndex++;
	                }
				} else {
					img_item.style.left = -coordinate[item_number] + 'px'
				}
			}
            
	            $("#imgDescrip").text(arryImgsDescrip[starIndex]);
                if(arryImgsDiscountInfo.length > starIndex){
	                $("#discountInfo").text(arryImgsDiscountInfo[starIndex]);
                }
                if(arryImgsPromotionTime.length > starIndex){
	                $("#promotionTime").text(arryImgsPromotionTime[starIndex]);
                }
		});

            
	  }
      //初始化对象方法.
	(function () {
    footmenu($("#promotion"));
		setImgItemWidth();
		setImgItemEvent();
		createMakeImage();
       $("#img").css("margin-top",($(window).height()-$("#img").height())/2+"px");
	})();

    }

	   $(function(){
            var psource = sessionStorage.source == "share" ? "&source=share" : "";
            $("#ul_items li a").each(function(ind,el){
                var newHref = $(el).attr("href");
                if(newHref.indexOf("source=") <= -1)
                { 
                    newHref += psource;
                    $(el).attr("href",newHref);
                }
            });
       }); 

    </script>
}
<img src="/Content/Mobile/2.jpg" class="noDisplay" alt="" id="clone_img_element" />
<div id="img" class="clearFloat">
    <div id="make">
    </div>
    <div style='top: 0; color: #fff; position: absolute; z-index: 1; background-color: #000;
        display: block; content: "."; opacity: 0.4; height: 30px; font-size: 1.2em; right: 0'>
        <div style="float: right; background: #fff; background-color: #000;" id="promotionTime">
        </div>
    </div>
    <ul id="ul_items" class="img_item" style="background: red">
        @if (Model.promotionSDTO != null && Model.promotionSDTO.Count > 0)
        {
            for (var i = 0; i < Model.promotionSDTO.Count; i++)
            {
                var isStart = (Model.promotionSDTO[i].StartTime > DateTime.Now) ? 0 : 1;
            <li><a href="/Mobile/CommodityList?promotionId=@Model.promotionSDTO[i].PromotionId&shopId=@ViewBag.AppId&isStart=@isStart">
                <img src="@Model.promotionSDTO[i].PicPath" alt="@Model.promotionSDTO[i].Name"/>
            </a></li>
            }
        }
        else
        {
            if (Model.commoditySDTO != null)
            {
                for (var i = 0; i < Model.commoditySDTO.Count; i++)
                {
            <li><a href="/Mobile/CommodityDetail?commodityId=@Model.commoditySDTO[i].Id&shopId=@ViewBag.AppId">
                <img src="@Model.commoditySDTO[i].Pic" alt="@Model.commoditySDTO[i].Name"/>
            </a></li>
                }
            }
        }
    </ul>
    <div style='bottom: 0; color: #fff; position: absolute; z-index: 1; background-color: #000;
        width: 100%; display: block; content: "."; opacity: 0.4; height: 30px; font-size: 1.2em;'>
        <div style="float: left;">
            <span href="##" id="imgDescrip" target="_blank" />
        </div>
        <div style="float: right;">
            <div style="color: rgb(255, 0, 84); font-weight: bold;" id="discountInfo">
            </div>
        </div>
        <div style="clear: both;">
        </div>
    </div>
</div>
