@using System
@using System.Web
@using System.Linq
@{
    Layout = null;
    ViewBag.Title = "订单详情";
    Jinher.AMP.BTP.Deploy.CustomDTO.CommodityOrderVM commodityOrderVM = ViewBag.CommodityOrder;
    //判断是否是京东的单子
    var Jdflag = false;
    if (commodityOrderVM != null)
    {
        if (commodityOrderVM.OrderItems.Count() > 0)
        {
            foreach (var item in commodityOrderVM.OrderItems)
            {
                if (!string.IsNullOrWhiteSpace(item.JdorderId))
                {
                    Jdflag = true;
                }
            }
        }
    }    
}
@helper getState(int state, int payment)
    {
        string pay = Jinher.AMP.BTP.UI.Models.PaySourceVM.GetPaymentName(payment);
        pay = pay.Replace("直接到账", "").Replace("担保交易", "");
        switch (state)
        {
            case 0:
    <span class="on">提交订单</span><span class="xian"></span><span class="tw">等待付款</span>
    <span class="xian"></span><span class="on">等待发货</span><span class="xian"></span><span
        class="on">交易成功</span>
                break;
            case 1:
    <span class="on">提交订单</span><span class="xian"></span><span class="on">@pay</span>
    <span class="xian"></span><span class="tw">等待发货</span><span class="xian"></span><span
        class="on">交易成功</span>
                                                                      break;
            case 2:
    <span class="on">提交订单</span><span class="xian"></span><span class="on">@pay</span>
    <span class="xian"></span><span class="tw">已发货</span><span class="xian"></span><span
        class="on">交易成功</span>
                                                                      break;
            case 3:
    <span class="on">提交订单</span><span class="xian"></span><span class="on">@pay</span>
    <span class="xian"></span><span class="on">已发货</span><span class="xian"></span><span
        class="tw">交易成功</span>
                                                                      break;
            case 4:
    <span class="on">提交订单</span><span class="xian"></span><span class="on">@pay</span>
    <span class="xian"></span><span class="on">取消订单</span><span class="xian"></span><span
        class="tw">交易失败</span>
                                                                      break;
            default:
                                                                      break;
        }
}
@helper getCategoryName(int category)
    {
        switch (category)
        {
            case 1:
    @:增值税普通发票
                break;
            case 2:
    @:电子发票
                break;
            case 4:
    @:增值税专用发票
                break;
            default:
                break;
        }
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>订单详情</title>
    <link rel="stylesheet" href="/Content/css/style.css" />
    <link rel="stylesheet" href="/content/css/common.css" />
    <style type="text/css">
        a:link, a:visited
        {
            color: inherit;
        }
        .dcon_con div, .dxq_con .dcon_con li
        {
            color: #8C94A9;
            font-size: 12px;
        }
        .brunw
        {
            width: 150px;
            text-align: right;
            height: 10px;
        }
        .spfb_t_l table tr
        {
            height: 40px;
        }
        .a_ship_modify
        {
            width: 30px;
            height: 20px;
            line-height: 20px;
            background: #97bd40;
            border-radius: 5px;
            display: inline-block;
            color: #fff;
            text-align: center;
            margin-left: 7px;
        }
        .dcon_con .sp_two span
        {
            float: left;
        }
        ul,li{
            padding:0;
            margin:0;
            list-style-type: none;
        }

    </style>
    <script type="text/javascript">
        var rootPath = "/";
        document.domain = "iuoooo.com";
        //try { document.domain = "iuoooo.com"; } catch (e) { }
        //调用父窗口方法，更新布局。

        //setTimeout(function () { window.top.refreshLayout && window.top.refreshLayout() }, 100);

        function manual(OrderId) {
            $.ajax({
                url: '/CommodityOrder/ManualDelivery',
                type: 'post',
                data: { commodityOrderId: OrderId },
                success: function () {
                    window.location.reload();
                }
            })
        }

    </script>
</head>
<body class="clearfix">
    <div class="box">
        @if (commodityOrderVM != null)
        {
        <div class="right right1">
            <div class="dxq_title">
                @getState(commodityOrderVM.State, commodityOrderVM.Payment)
            </div>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 50%;">
                        <div class="dxq_con" style="height: 222px !important; border-right: 0px;">
                            <div class="dcon_top">
                                <p>
                                    收货人信息</p>
                            </div>
                            <div class="dcon_con">
                                <ul>
                                    <li>
                                        <p>@commodityOrderVM.ReceiptUserName</p>
                                    </li>
                                    <li>
                                        <p>@commodityOrderVM.ReceiptPhone</p>
                                    </li>
                                    <li>
                                        <p>@commodityOrderVM.Province@commodityOrderVM.City@commodityOrderVM.District @commodityOrderVM.ReceiptAddress</p>
                                    </li>
                                    @if (!string.IsNullOrEmpty(commodityOrderVM.RecipientsZipCode))
                                    { <li>
                                        <p>
                                            买家邮编：@commodityOrderVM.RecipientsZipCode</p>
                                    </li>
                                    }
                                    <li>
                                        <p>
                                            买家备注：@commodityOrderVM.Details</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td style="width: 50%;">
                        <div class="dxq_con" style="height: 222px !important;">
                            <div class="dcon_top">
                                <p>
                                    自提点</p>
                            </div>
                            <div class="dcon_con">
                                <ul>
                                    @if (commodityOrderVM.SelfTakeStationId.HasValue && commodityOrderVM.SelfTakeStationId.Value != Guid.Empty)
                                    {
                                        string timeS = string.Empty;
                                        if (commodityOrderVM.PickUpBookDate.HasValue)
                                        {
                                            var timeDate = commodityOrderVM.PickUpBookDate.Value.ToString("yyyy年M月d日");
                                            var timeStartText = commodityOrderVM.PickUpBookStartTime.Value.ToString(@"hh\：mm"); ;
                                            var timeEndText = commodityOrderVM.PickUpBookEndTime.Value.ToString(@"hh\：mm"); ;
                                            timeS = timeDate + " " + timeStartText + "～" + timeEndText;
                                        }
                                        <li>
                                            <p>@commodityOrderVM.PickUpName</p>
                                        </li>
                                        <li>
                                            <p>@commodityOrderVM.PickUpPhone</p>
                                        </li>
                                        <li>
                                            <p>@timeS</p>
                                        </li>
                                        <li>
                                            <p>@commodityOrderVM.SelfTakeAddress</p>
                                        </li>
                                    }
                                    
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <!--start 物流信息-->
            @if (commodityOrderVM.State != 0 && commodityOrderVM.State != 1 && commodityOrderVM.State != 8 && commodityOrderVM.State != 4 && commodityOrderVM.State != 5 && commodityOrderVM.State != 6 && commodityOrderVM.State != 13)
            {
                <div class="dxq_con">
                    <div class="dcon_top">
                        <p>
                            物流信息</p>
                    </div>
                    <div style="float:left">
                       @if (Jdflag == true)
                       {
                           Dictionary<string, string> dic = new Dictionary<string, string>();
                           foreach (var item in commodityOrderVM.OrderItems)
                           {
                               if (!string.IsNullOrEmpty(item.JdorderId))
                               {
                                   if (!dic.ContainsKey(item.JdorderId))
                                   {
                                       dic.Add(item.JdorderId, item.JdCode);
                                   }
                               }

                           }
                           int Num = 0;
                           decimal? RealPrice = 0;
                           foreach (var dict in dic)
                           {
                               Num++;
                                <div style="position:relative;top:30px;left: 10px;">
                                     <span style="top:15px;left:0;">包裹 @Num：</span>
                                </div>
                                <div class="dcon_con">
                                @foreach (var item in commodityOrderVM.OrderItems)
                                {
                                    RealPrice = item.RealPrice * item.Number;
                                    if (dict.Key == item.JdorderId)
                                    {
                                           <div style="position:relative;margin-top:0px;">
                                                 <ul style="margin-left: 50px">
                                            <li>
                                                <span>发货时间:</span><span>@item.JdfhTime</span>
                                            </li>
                                            <li>
                                                <span>物流公司:</span><span>@(string.IsNullOrEmpty(item.ExpressCompany) ? "京东快递" : item.ExpressCompany)</span>
                                            </li>
                                            <li>
                                                <span>物流单号：</span> <span>@item.JdorderId</span> <a class="a_ship_modify" id="changeExp" href="javascript:void(0)">修改</a>
                                            </li>
                                            <li>
                                              <img src="@item.PicturesPath" width="80" height="80" alt="" style="clear:both; margin:0; padding:0; float:none;" />
                                            
                                                @if (item.CommodityIdName.Length > 6)
                                                {     <span style="position:absolute;top:130px;left:160px;">
		                                                @item.CommodityIdName.Substring(0, 6)......
                                                      </span>
                                                }
                                                else
                                                {
                                                       <span style="position:absolute;top:130px;left:160px;">
		                                                @item.CommodityIdName......
                                                      </span>   
                                                }
                                              <span style="position:absolute;top:150px;left:160px;color:Red">@RealPrice</span>                                             
                                            </li>
                                           </ul> 
                                           </div>
                                    }

                                }
                                </div>
                           }
                       }
                       else if ((bool)ViewBag.IsSuNingOrder)
                       {
                           List<Jinher.AMP.BTP.Deploy.CustomDTO.SN.SNOrderLogisticsDto> SNLogistics = ViewBag.SNLogistics;
                           if (SNLogistics != null)
                           {
                               foreach (var Package in SNLogistics)
                               {
                                   List<string> skuids = new List<string>();
                                   foreach (var p in Package.OrderItemIds)
                                   {
                                       if (!string.IsNullOrWhiteSpace(p.SkuId))
                                       {
                                           skuids.Add(p.SkuId);
                                       }
                                   }
                                    <div style="position:relative;top:30px;left: 10px;">
                                        <span style="top:15px;left:0;">包裹 @Package.PackageId：</span>
                                    </div>
                                    <div class="dcon_con">                                     
                                        <div style="position:relative;margin-top:0px;">
                                            <ul style="margin-left: 50px">
                                                <li>
                                                    <span>发货时间:</span><span>@Package.ShippingTime</span>
                                                </li>
                                                <li>
                                                    <span>物流公司:</span><span>苏宁快递</span>
                                                </li>
                                                <li>
                                                    <span>物流单号：</span> <span>@Package.OrderId</span> <a class="a_ship_modify" id="changeExp" href="javascript:void(0)">修改</a>
                                                </li>
                                                @foreach (var item in commodityOrderVM.OrderItems)
                                                {
                                                    if (skuids.Contains(item.JdCode))
                                                    {
                                                        <li>
                                                            <img src="@item.PicturesPath" width="80" height="80" alt="" style="clear:both; margin:0; padding:0; float:none;" />
                                                            <span style="position:absolute;top:130px;left:160px;">
                                                                @(item.CommodityIdName.Length > 6 ? item.CommodityIdName.Substring(0, 6) + "..." : item.CommodityIdName)
                                                            </span>
                                                            <span style="position:absolute;top:150px;left:160px;color:Red">@(item.RealPrice * item.Number)</span>
                                                        </li>
                                                    }
                                                }
                                            </ul> 
                                        </div> 
                                    </div>
                               }
                           }
                           else
                           {
                                <p>
                                    <span>物流公司：苏宁快递</span><br />
                                    <span>物流信息：无</span>
                                </p>
                           }
                       }
                       else
                       {
                           <ul>
                            <li>
                                @if (commodityOrderVM.Wlsl != 1 && ((commodityOrderVM.ShipExpCo != commodityOrderVM.OrgShipExpCo) || ((commodityOrderVM.ShipExpCo == commodityOrderVM.OrgShipExpCo) && commodityOrderVM.ShipExpCo == "" && commodityOrderVM.OrgShipExpCo == "")))
                                {
                                    <p>
                                        <span>物流公司：</span><span id="shipExpCo">@if (!string.IsNullOrWhiteSpace(commodityOrderVM.ShipExpCo))
                                                                               {@commodityOrderVM.ShipExpCo}
                                                                               else
                                                                               {
                                                                                 <span>无需物流</span>;
                                                                               }</span><span id="orgShipExpCo">(@if (string.IsNullOrWhiteSpace(commodityOrderVM.OrgShipExpCo))
                                                                                                                {<span>无需物流</span>;
                                                                                                                }
                                                                                                                else
                                                                                                                {@commodityOrderVM.OrgShipExpCo;
                                                                                                                })</span>
                                    </p>
                                }
                                else
                                {
                                    <span>物流公司：</span><span id="shipExpCo">@if (!string.IsNullOrWhiteSpace(commodityOrderVM.ShipExpCo))
                                                                           {@commodityOrderVM.ShipExpCo}
                                                                           else
                                                                           {<span>无需物流</span>}</span><span id="orgShipExpCo"></span>
                                }
                            </li>
                            <li>
                                @if (commodityOrderVM.Wlsl != 1 && ((commodityOrderVM.ExpOrderNo != commodityOrderVM.OrgExpOrderNo) || ((commodityOrderVM.ExpOrderNo == commodityOrderVM.OrgExpOrderNo) && commodityOrderVM.ExpOrderNo == "" && commodityOrderVM.OrgExpOrderNo == "")))
                                {
                                    <p>
                                        <span>物流单号：</span> <span id="expOrderNo">
                                            @if (!string.IsNullOrWhiteSpace(commodityOrderVM.ExpOrderNo))
                                            {@commodityOrderVM.ExpOrderNo}
                                            else
                                            {<span>无需物流</span>}</span><span id="orgExpOrderNo">(@if (string.IsNullOrWhiteSpace(commodityOrderVM.OrgExpOrderNo))
                                                                                                {<span>无需物流</span>;
                                                                                                }
                                                                                                else
                                                                                                {@commodityOrderVM.OrgExpOrderNo})</span>
                                        @if (ViewBag.IsShowChangeExp != null && ViewBag.IsShowChangeExp == "1")
                                        {
                                            <a class="a_ship_modify" id="changeExp" href="javascript:void(0)">修改</a>
                                        }
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        <span>物流单号：</span> <span id="expOrderNo">
                                            @if (!string.IsNullOrWhiteSpace(commodityOrderVM.ExpOrderNo))
                                            {@commodityOrderVM.ExpOrderNo}
                                            else
                                            {<span>无需物流</span>}</span><span id="orgExpOrderNo"></span>
                                        @if (ViewBag.IsShowChangeExp != null && ViewBag.IsShowChangeExp == "1")
                                        {
                                            <a class="a_ship_modify" id="changeExp" href="javascript:void(0)">修改</a>
                                        }
                                    </p>
                          
                                }
                            </li>
                        </ul>  
                       }
                       
                    </div>
                </div>
                
                
            }
            <!--end   物流信息-->
            <!--start 发票信息-->
            @if (commodityOrderVM.InvoiceInfo != null && commodityOrderVM.InvoiceInfo.InvoiceType != 0)
            {
                <div class="dxq_con" style="height: auto; padding-bottom: 10px;">
                    <div class="dcon_top">
                        <p>
                            发票信息</p>
                    </div>
                    <div class="dcon_con">
                        <ul>
                            <li>
                                <p>
                                    发票类型：@getCategoryName(commodityOrderVM.InvoiceInfo.Category)</p>
                            </li>
                            <li>
                                <p>
                                    发票抬头：
                                    @if (commodityOrderVM.InvoiceInfo.Category == 1 || commodityOrderVM.InvoiceInfo.Category == 2)
                                    {
                                        if (commodityOrderVM.InvoiceInfo.InvoiceType == 1)
                                        {
                                        @:个人
                                         }
                                        else if (commodityOrderVM.InvoiceInfo.InvoiceType == 2)
                                        {
                                        @commodityOrderVM.InvoiceInfo.InvoiceTitle
                                        }
                                    }
                                    else if (commodityOrderVM.InvoiceInfo.Category == 4)
                                    {
                                        if (commodityOrderVM.JcActivityId == Guid.Empty)
                                        {
                                            <a style="color: blue; text-decoration: underline" href="javascript:void(0)" onclick="showVatInvoiceProofDetailShow('@commodityOrderVM.InvoiceInfo.SubId',0)">
                                                点击查看增票资质信息</a>
                                        }
                                        else
                                        {
                                            <a style="color: blue; text-decoration: underline" href="javascript:void(0)" onclick="showVatInvoiceProofDetailShow('@commodityOrderVM.JcActivityId',1)">
                                                点击查看增票资质信息</a>
                                        }
                                    }
                                </p>
                            </li>
                             <li>
                                <p>纳税人识别号：@commodityOrderVM.InvoiceInfo.Code</p>
                            </li>
                            @if (commodityOrderVM.InvoiceInfo.Category == 1 || commodityOrderVM.InvoiceInfo.Category == 2)
                            {
                                <li>
                                    <p>
                                        发票内容：@commodityOrderVM.InvoiceInfo.InvoiceContent
                                    </p>
                                </li>
                            }
                            @if (commodityOrderVM.InvoiceInfo.Category == 2)
                            {
                                <li>
                                    <p>
                                        收票人信息：@commodityOrderVM.InvoiceInfo.ReceiptPhone @commodityOrderVM.InvoiceInfo.ReceiptEmail
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        电子发票编码：@commodityOrderVM.SwNo @if (commodityOrderVM.IsRefund)
                                                                      {
                                                                          <span style="color: red">   已开红票对冲</span>
                                                                      }
                                    </p>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
            <!--end  发票信息-->
            <div class="dxq_con">
                <div class="dcon_top">
                    <p>
                        订单信息</p>
                </div>
                <div class="dcon_con">
                    <ul>
                        <li>
                            <p>
                                订单编号：@commodityOrderVM.CommodityOrderCode
                                @(ViewBag.SNOrderNo==null ? "" : ",苏宁订单编号：" + (string)ViewBag.SNOrderNo)
                            </p>
                        </li>
                        <li>
                            <p>
                                订单 ID：<span id="orderId">@commodityOrderVM.CommodityOrderId</span></p>
                        </li>
                        <li>
                            <p>
                                下单时间: @commodityOrderVM.SubTime</p>
                        </li>
                        <li>
                            <p>
                                付款时间: @commodityOrderVM.PaymentTime</p>
                        </li>
                        <li>
                            <p>
                                下单账号: @commodityOrderVM.Ucode</p>
                        </li>
                        <li>
                            <p>
                                下单昵称: @commodityOrderVM.Uname</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="dxq_con" style="height: 100%">
                <div class="dcon_top">
                    <p>
                        商品信息</p>
                </div>
                @{ var flag = true;
                   Jinher.AMP.BTP.Deploy.CustomDTO.CommodityOrderVM commodityOrderVM_tmp;
                   var index = 0;
                }
                @foreach (var item in commodityOrderVM.OrderItems)
                {
                    <div style="width: 900px; clear: both;">
                        <div class="dcon_con">
                            <div class="sp_one" style="width: 313px; height: auto; float: left;">
                                <div class="media-object pull-left " style="position: relative; float: left; width: 80px;
                                    height: 80px; clear: both; margin: 0; padding: 0; margin-right: 10px;">
                                    <img src="@item.PicturesPath" width="80" height="80" alt="" style="clear:both; margin:0; padding:0; float:none;" />
                                    @if (commodityOrderVM.SelfTakeFlag == 1)
                                    {
                                        <div class="selfTake" style="display: block; width: 80px; height: 80px; clear: both;
                                            margin: 0; padding: 0">
                                            <img class="selfTakeImg" style="display: block; width: 80px; clear: both; margin: 0;
                                                padding: 0; float: none;" src="/Images/selftake.png" alt="自提" />
                                        </div>
                                    }
                                </div>
                                <p style="height:auto;line-height: 15px; float: left;word-wrap:break-word;">
                                    @item.CommodityIdName
                                    @if (!string.IsNullOrWhiteSpace(item.SNCode))
                                    {
                                        <br />
                                        <b style="color:Blue">SN:@item.SNCode</b>
                                    }
                                </p>
                                @if (commodityOrderVM.OrderType == 3)
                                {
                                    <p style="height:12px;line-height: 10px; margin-top:5px;float: left; color: #fe9128;">
                                        此商品性质不支持7天退货</p>
                                }
                                else
                                {
                                    <p style="height:12px;line-height: 10px; margin-top:5px;float: left; color: #fe9128; display: none">
                                        此商品性质不支持7天退货</p>
                                }
                                <ul style="margin-left: 90px">
                               @if (commodityOrderVM.State == 3 && item.YJBJCardList != null)
                               {
                                   foreach (var items in item.YJBJCardList)
                                   {
                                       if (items.Status == 2)
                                       {
                                              <li style="display: block;width:500px;padding-left:0;">卡号:@items.CardNo 密码：****** 有效期：@items.EndTime</li>
                                       }
                                       else if (items.Status == 1)
                                       {
                                     <li style="display: block;width:500px;padding-left:0;margin-top:10px;">
                                         <span style="color:#8C94A9;">获取营销平台的电子码接口异常，提示信息：@items.Message</span>
                                         <a href="javascript:void(0)" onclick="manual('@items.OrderId')" style="position:relative;width:auto;margin-left: 25px;color:#80BDE3;text-decoration:underline;">手动发货</a>
                                     </li>
                                                                                  break;
                                       }


                                   }

                               }
                                </ul>
                                <a style="margin-top:3px;">
                                    @foreach (var categorys in item.CommodityCategorys)
                                    {
                                        if (categorys != "null" && categorys != "请选择")
                                        {
                                        <span style="float: left">@categorys</span>
                                        }
                                    }
                                    @{
                                    if (!string.IsNullOrEmpty(item.SizeAndColorId))
                                    {
                                        item.SizeAndColorId = item.SizeAndColorId.Replace("颜色", "");
                                        item.SizeAndColorId = item.SizeAndColorId.Replace("尺寸", "");
                                        item.SizeAndColorId = item.SizeAndColorId.Replace(":", "");
                                        item.SizeAndColorId = item.SizeAndColorId.Replace("：", "");
                                        string[] attrs = item.SizeAndColorId.Split(new char[] { ',', '，' });

                                        string strComAttr = string.Empty;
                                        foreach (string attr in attrs)
                                        {
                                            if (attr != "null" && attr != "请选择")
                                            {
                                                if (strComAttr != string.Empty)
                                                {
                                                    strComAttr = string.Format("{0} {1}", strComAttr, attr);
                                                }
                                                else
                                                {
                                                    strComAttr = attr;
                                                }

                                            }
                                        }
                                        if (!string.IsNullOrEmpty(strComAttr))
                                        {
                                            <span style="float: left;">@strComAttr</span>
                                        }
                                    }

                                    if (commodityOrderVM.Specifications == 0)
                                    {
                                            <span style="padding-right: 5px;"></span>
                                    }
                                    else
                                    {
                                            <span style="padding-right: 5px;">,1*@commodityOrderVM.Specifications</span>
                                    }
                                                    
                                    }
                                </a>
                            </div>
                            <div class="sp_two" style="width: 150px; height: 90px; float: left;">
                                <span style="float: left; color: #fe9128;">
                                     <text> @item.Price</text>
                                </span>
                                @if (commodityOrderVM.Specifications != 0)
                                {
                                    int Number = (item.Number / commodityOrderVM.Specifications);
                                      <span>&nbsp X &nbsp @Number &nbsp X @commodityOrderVM.Specifications</span>    
                                }
                                else
                                {
                                    <span>&nbspX @item.Number</span>
                                }
                                @if (index == commodityOrderVM.OrderItems.Count - 1 && commodityOrderVM.SetMealId != Guid.Empty)
                                {
                                    decimal tolPrice = 0;
                                    for (var j = 0; j < commodityOrderVM.OrderItems.Count; j++)
                                    {
                                        tolPrice += commodityOrderVM.OrderItems[j].Price * commodityOrderVM.OrderItems[j].Number;
                                    }
                                    <br/>
                                    <br/>
                                    <span style="float: left; color: #fe9128;">
                                     <text>套餐价：@Jinher.AMP.BTP.UI.Util.WebUtil.GetCurrency()@tolPrice</span>
                                }
                            </div>
                            <div style="width: 150px; line-height: 27px; text-align: center; float: left;">
                                <p style="line-height: 50px; float: left;  margin-left: 0;">
                                    @if (!string.IsNullOrWhiteSpace(item.PromotionDesc))
                                    {
                                        <span style="color: #fe9128;">
                                            <text>@item.PromotionDesc
                                                ：@Jinher.AMP.BTP.UI.Util.WebUtil.GetCurrency()@item.RealPrice</text>  
                                        </span>
                                        <span>&nbspX @item.Number</span>
                                    }
                                </p>
                            </div>
                            <div style="width: 150px; line-height: 27px; text-align: center; float: left;">
                                <p style="line-height: 50px; float: left;  margin-left: 0;">
                                        @if (item.Duty > 0)
                                        {
                                            <span style="color: #fe9128;">
                                                <text>关税
                                                    ：@Jinher.AMP.BTP.UI.Util.WebUtil.GetCurrency()@item.Duty</text>  
                                            </span>
                                            <span>&nbspX @item.Number</span>
                                        }
                                </p>
                            </div>
                        </div>
                    </div>
                    
                                        index++;

                                        if (item.Presents != null)
                                        {
                                            foreach (var p in item.Presents)
                                            {
                    <div style="width: 900px; clear: both;">
                        <div class="dcon_con">
                            <div class="sp_one" style="width: 313px; height: auto; float: left;">
                                <div class="media-object pull-left " style="position: relative; float: left; width: 80px;
                                    height: 80px; clear: both; margin: 0; padding: 0; margin-right: 10px;">
                                    <img src="@p.PicturesPath" width="80" height="80" alt="" style="clear:both; margin:0; padding:0; float:none;" />
                                </div>
                                <p style="height:20px;line-height: 10px; float: left;">【赠品】@p.CommodityName</p>
                                <a>
                                @if (!string.IsNullOrEmpty(p.SizeAndColorId))
                                {
                                    p.SizeAndColorId = p.SizeAndColorId.Replace("颜色", "");
                                    p.SizeAndColorId = p.SizeAndColorId.Replace("尺寸", "");
                                    p.SizeAndColorId = p.SizeAndColorId.Replace(":", "");
                                    p.SizeAndColorId = p.SizeAndColorId.Replace("：", "");
                                    string[] attrs = p.SizeAndColorId.Split(new char[] { ',', '，' });

                                    string strComAttr = string.Empty;
                                    foreach (string attr in attrs)
                                    {
                                        if (attr != "null" && attr != "请选择")
                                        {
                                            if (strComAttr != string.Empty)
                                            {
                                                strComAttr = string.Format("{0} {1}", strComAttr, attr);
                                            }
                                            else
                                            {
                                                strComAttr = attr;
                                            }

                                        }
                                    }
                                    if (!string.IsNullOrEmpty(strComAttr))
                                    {
                                        <span style="float: left;">@strComAttr</span>
                                    }

                                    if (commodityOrderVM.Specifications == 0)
                                    {
                                        <span style="padding-right: 5px;"></span>
                                    }
                                    else
                                    {
                                        <span style="padding-right: 5px;">,1*@commodityOrderVM.Specifications</span>
                                    }
                                }
                                </a>
                            </div>
                            <div class="sp_two" style="width: 150px; height: 90px; float: left;">
                                <span style="float: left; color: #fe9128;">                                     
                                     <text> @p.RealPrice</text>
                                </span>
                                 @if (commodityOrderVM.Specifications != 0)
                                 {
                                     int Number = (p.Number / commodityOrderVM.Specifications);
                                    <span>&nbsp X &nbsp @Number &nbsp X @commodityOrderVM.Specifications</span>        
                                 }
                                 else
                                 {
                                      <span>&nbspX @p.Number</span>  
                                 }                           
                            </div>
                        </div>
                    </div>
                                            }
                                        }
                }
                <div style="width: 900px; clear: both;">
                    <div class="dcon_con" style="line-height: 20px; float: none; margin: 0; padding: 0;
                        width: auto; height: auto;">
                        <div class="sp_three" style="line-height: 20px; float: none; margin: 0; padding: 0;
                            width: auto; height: auto; margin-left: 200px;">
                            @if (commodityOrderVM != null && commodityOrderVM.State != 0)
                            {
                                if (flag)
                                {

                                    var online = commodityOrderVM.CurrentPrice - commodityOrderVM.GoldCoupon - commodityOrderVM.GoldPrice;

                                    int bl = 0;
                                <text> <span>实付款：@commodityOrderVM.CurrentPrice
                                </span>(
                                @if (online > 0)
                                {
                                    bl++;
                                    <span>在线支付：@online</span>
                                }
                                @if (commodityOrderVM.SpendScoreMoney > 0)
                                {
                                    if (bl > 0)
                                    {
                                    <span>，</span>
                                    }
                                    bl++;
                                    <span>积分&nbsp;抵现：@commodityOrderVM.SpendScoreMoney</span>
                                }
                                @if (commodityOrderVM.SpendYJCouponMoney > 0)
                                {
                                    if (bl > 0)
                                    {
                                    <span>，</span>
                                    }
                                    bl++;
                                    <span>易捷抵用券：@commodityOrderVM.SpendYJCouponMoney</span>
                                }
                                @if (commodityOrderVM.SpendYJBMoney > 0)
                                {
                                    if (bl > 0)
                                    {
                                    <span>，</span>
                                    }
                                    bl++;
                                    <span>易捷币抵现：@commodityOrderVM.SpendYJBMoney</span>
                                }
                                @if (commodityOrderVM.YJCardPrice != null && commodityOrderVM.YJCardPrice.Value > 0)
                                {
                                    if (bl > 0)
                                    {
                                    <span>，</span>
                                    }
                                    bl++;
                                    <span>易捷卡抵现：@commodityOrderVM.YJCardPrice.Value</span>
                                }
                                @if (commodityOrderVM.GoldPrice > 0)
                                {
                                    if (bl > 0)
                                    {
                                    <span>，</span>
                                    }
                                    bl++;
                                    <span>金币：@commodityOrderVM.GoldPrice</span>
                                }
                                @if (commodityOrderVM.GoldCoupon > 0)
                                {
                                    if (bl > 0)
                                    {
                                    <span>，</span>
                                    }
                                    bl++;
                                    <span>代金券：@commodityOrderVM.GoldCoupon</span>
                                }
                                @if (commodityOrderVM.State != 0 && commodityOrderVM.State != 11 && commodityOrderVM.CouponValue > 0)
                                {
                                    if (bl > 0)
                                    {
                                    <span>，</span>
                                    }
                                    bl++;
                                    <span>优惠券： @commodityOrderVM.CouponValue</span>
                                }
                                )
                                </text> 
                                flag = false;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div style="float: left; text-align: center; width: inherit; display: none;">
                <a class="btn120" onclick="window.close();" href="javascript:void(0)">关闭</a>
            </div>
        </div>
        }
        else
        {
            <div style="margion:auto 0: text-align: center; width: inherit;">
                <h2 style="margin: 10px auto;font_">暂无数据....</h2> 
            </div>
        }
    </div>
    <div class="tanchu" id="shipWin" style="height: 280px; width: 485px;">
        <div>
            <div class="tanchu_r">
                <table style="color: Black; height: 60px; margin-top: 10px;">
                    <tr>
                        <td class="brunw" style="width: 180px;">
                            <label>
                                <input id="wlfh" type="radio" checked="checked" name="wlqk" value="" onclick="ansj()" />物流发货</label>
                        </td>
                        <td class="brunw" style="width: 160px;">
                            <label>
                                <input id="wxwl" type="radio" name="wlqk" value="" onclick="wansj()" />无需物流</label>
                        </td>
                    </tr>
                </table>
                <div id="wlxs" class="spfb_t_l add_spfb_t_l1" style="font-size: 14px;">
                    <p class="color" style="margin-left: 99px; display: none;" id="errorInfo">
                        &nbsp;
                    </p>
                    <table style="color: Black;">
                        <tr>
                            <td class="brunw" style="width: 200px; text-align: right;">
                                <span>请选择物流公司：</span>
                            </td>
                            <td>
                                <select id="expSelect" style="width: 182px; height: 27px; line-height: 27px; color: #8c94a9;
                                    margin-left: 10px;">
                                    <option value="0">请选择</option>
                                    <option value="13">申通快递</option>
                                    <option value="2">韵达快运</option>
                                    <option value="3">圆通速递</option>
                                    <option value="4">中通快递</option>
                                    <option value="5">顺丰速运</option>
                                    <option value="6">百世汇通</option>
                                    <option value="7">天天快递</option>
                                    <option value="8">EMS</option>
                                    <option value="9">宅急送</option>
                                    <option value="10">中国邮政</option>
                                    <option value="11">德邦</option>
                                    <option value="12">全峰快递</option>
                                    <option value="14">快捷快递</option>
                                    <option value="15">京东快递</option>
                                    <option value="1">其他物流公司</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="qtwu" style="display: none;">
                            <td class="brunw" style="width: 200px; text-align: right;">
                                @*<input type="checkbox" id="shipExpCheck" style="width: 15px; vertical-align: inherit;" />*@
                                <span style="margin-left: 0px;">其他物流公司：</span>
                            </td>
                            <td>
                                <input type="text" id="txtShipExp" class="txtColor" maxlength="30" />
                            </td>
                        </tr>
                        <tr>
                            <td class="brunw" style="width: 200px; text-align: right;">
                                <span>请填写快递单号：</span>
                            </td>
                            <td>
                                <input type="text" id="txtExpOrderNo" class="txtColor"  onkeyup="value=value.replace(/[\W]/g,'')"  maxlength="30" />
                            </td>
                        </tr>
                    </table>
                    <p class="color" style="margin-left: 99px;">
                        请正确填写，以方便客户及时跟踪物流信息
                    </p>
                </div>
                <div style="text-align: center;">
                    <button class="an1" id="btnShip" onclick="shipUpdataOrder()">
                        确定</button>
                    <button onclick="closebtnShip()">
                        取消</button></div>
            </div>
        </div>
        <div class="shut" onclick="closebtnShip()">
            <img src="/images/shut.png" alt="" width="7" height="7" />
        </div>
    </div>
    <div style="display: none;" id="VatInvoiceProofDetailShowDiv">
    <div style="margin: 0 auto;">
        <iframe id="VatInvoiceProofDetailShow" src="" width="808px;" height="604px" style="margin-bottom: 1px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                border: 0px;" scrolling="auto"></iframe>
    </div>
    </div>
    <div style="display: none;" id="VatInvoiceProofDetailShowDivII">
    <div style="margin: 0 auto;">
        <iframe id="VatInvoiceProofDetailShowII" src="" width="808px;" height="604px" style="margin-bottom: 1px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    border: 0px;" scrolling="auto"></iframe>
    </div>
    </div>
    <script type="text/javascript" src="/Scripts/jquery.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.watermark.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.extend.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.ui.base.js"></script>
    <script type="text/javascript" src="/Scripts/i18n/jquery.ui-zh.js"></script>
    <script type="text/javascript" src="/Scripts/TableBox/jquery.ui.jhtablebox.js"></script>
    <link type="text/css" href="/Content/default/jquery.ui.all.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/Content/default/jquery.ui.jhtablebox.css" />
    <script>
        document.ondragstart = function () { return false; };
        //确定发货
        function shipUpdataOrder() {
            var shipExp = "";
            var expOrder = "";
            if ($("#wlfh").attr("checked") == "checked") {
                var statename = $("#btnShip").html();
                if (statename == "提交中,请稍候") {
                    return;
                }
                $("#errorInfo").hide();
                $("#errorInfo").html("");
                shipExp = $("#expSelect").find("option:selected").text();
                if (shipExp == "请选择") {
                    $("#errorInfo").html("请选择快递方式");
                    $("#errorInfo").show();
                    return;
                }
                if ($("#txtExpOrderNo").val() == "") {
                    $("#errorInfo").html("请填写快递单号");
                    $("#errorInfo").show();
                    return;
                }
                if (shipExp == "其他物流公司") {

                    if ($("#txtShipExp").val() == "") {
                        $("#errorInfo").html("请填写物流公司");
                        $("#errorInfo").show();
                        return;
                    }
                }
                if (shipExp == "其他物流公司") {
                    shipExp = $("#txtShipExp").val();
                }
                expOrder = $("#txtExpOrderNo").val();
                $("#btnShip").html("提交中,请稍候");
            } else {
                shipExp = "";
                expOrder = "";
            }
            $.ajax({
                url: '/CommodityOrder/ChgOrderShip/',
                type: 'post',
                data: { commodityOrderId: $("#orderId").text(),
                    shipExpCo: shipExp,
                    expOrderNo: $("#txtExpOrderNo").val()
                },
                success: function (data) {
                    if (data && data.ResultCode == 0 && data.OrderShippingExt) {
                        if (data.OrderShippingExt.ShipExpCo != "") {
                            $("#shipExpCo").text(data.OrderShippingExt.ShipExpCo);
                        } else {
                            $("#shipExpCo").text("无需物流");
                        }
                        if (data.OrderShippingExt.OrgShipExpCo != "") {
                            $("#orgShipExpCo").text("(" + data.OrderShippingExt.OrgShipExpCo + ")");
                        } else {
                            $("#orgShipExpCo").text("(" + "无需物流" + ")");
                        }
                        if (data.OrderShippingExt.ExpOrderNo != "") {
                            $("#expOrderNo").text(data.OrderShippingExt.ExpOrderNo);
                        } else {
                            $("#expOrderNo").text("无需物流");
                        }
                        if (data.OrderShippingExt.OrgExpOrderNo != "") {
                            $("#orgExpOrderNo").text("(" + data.OrderShippingExt.OrgExpOrderNo + ")");
                        } else {
                            $("#orgExpOrderNo").text("(" + "无需物流" + ")");
                        }
                        closebtnShip();
                    }
                    else {
                        $("#btnShip").html("确定");
                        $("#errorInfo").html(data.Message);
                        $("#errorInfo").show();
                    }
                },
                error: function () {
                    $("#btnShip").html("确定");
                    $("#errorInfo").html("error");
                    $("#errorInfo").show();
                }
            });
        }
        //关闭层的显示    
        function closebtnShip() {
            $("#shipWin").CloseDiv();
        }
        $(function () {
            $("#changeExp").live("click", function () {
                $("#btnShip").html("确定");
                $("#txtExpOrderNo").val("");
                $("#txtShipExp").val("");
                $("#expSelect").val("0");
                $(".qtwu").hide();
                $("#shipWin").OpenDiv();
            });

            $("#expSelect").change(function () {
                if ($(this).val() == "1") {
                    $(".qtwu").show();
                }
                else {
                    $(".qtwu").hide();
                }
            });

        });
        function ansj() {
            document.getElementById("wlxs").style.visibility = "visible";
        }
        function wansj() {
            document.getElementById("wlxs").style.visibility = "hidden";
        }
        
    </script>
    <script type="text/javascript">
        function showVatInvoiceProofDetailShow(obj, type) {
            if (type == 0) {
                $("#VatInvoiceProofDetailShow").attr("src", "/Invoice/VatInvoiceProofDetailShow?userId=" + obj + "&r=" + Math.random());
                $("#VatInvoiceProofDetailShowDiv").jhtablebox({
                    title: "增票资质",
                    width: 814,
                    height: 624,
                    modal: true,
                    draggable: true,
                    resizable: false,
                    close: function() { $("#VatInvoiceProofDetailShow").attr("src", ""); }
                });
            } else  if (type == 1) {
                $("#VatInvoiceProofDetailShowII").attr("src", "/Invoice/VatInvoiceProofDetailShowII?jcActivityId=" + obj + "&r=" + Math.random());
                $("#VatInvoiceProofDetailShowDivII").jhtablebox({
                    title: "增票资质",
                    width: 814,
                    height: 624,
                    modal: true,
                    draggable: true,
                    resizable: false,
                    close: function() { $("#VatInvoiceProofDetailShowII").attr("src", ""); }
                });
            }
            $(".ui-jhtablebox-top").css("top", 50 + $(window.parent.document).scrollTop());
        }
    </script>
</body>
</html>
