@using System
@using System.Web
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
    bool noCommodity = string.IsNullOrEmpty(Request["commodityId"]) || Request["commodityId"] == Guid.Empty.ToString();
    string connectionStyle = ViewBag.IsShowConnection ? "" : "hide";
}
@helper Currency()
{
    @Jinher.AMP.BTP.UI.Util.MobileCookies.GetCurrency();
}
@section CssStyles{
    <link href="/Content/Mobile/style/base.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Mobile/style/mycart.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Mobile/zphStyle/goodsInfo.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        /*修改*/
        body {
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
            background-color: #eee;
        }

        #footer {
            max-width: 500px;
        }

        .footer-btn {
            // padding: 10px 0;
            max-width: 500px;
        }

        .fu {
            bottom: 5px !important;
        }

        .footer_4 {
            border-radius: 4px;
            background-color: #e0e0e0;
            text-align: center;
            color: #505050;
            font-size: 1.3em;
            letter-spacing: 3px;
            padding: 3.5% 10%;
            display: inline-block;
            margin-left: 30px;
        }

        #items {
            background-color: #fff;
        }

        .footer_2 {
            font-size: 1.3em !important;
            padding: 3.5% 17% !important;
        }

        .span_2 {
            background: url(/Content/Mobile/sub_hover.png) left no-repeat;
            margin-right: 0px;
        }

        .span_3 {
            background: url(/Content/Mobile/add_hover.png) right no-repeat;
            margin-left: 0px;
        }

        .span_com {
            width: 26px;
            height: 26px;
            margin-top: 0.2em !important;
            background-size: 25px 25px;
        }

        #crowdwin img {
            width: 50px;
            height: auto;
        }


        .black_overlay {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%; /*background-color: #EEEEEE;*/
            z-index: 99998;
            -moz-opacity: 0.8;
            opacity: .80;
            filter: alpha(opacity=80);
        }

        .white_content {
            display: none;
            position: absolute;
            top: 10%;
            left: 15%;
            width: 70%;
            height: 400px;
            padding: 1px;
            border: 1px solid #aaa;
            background-color: white;
            z-index: 99999;
            overflow: auto;
            overflow: hidden;
        }

        .HidHeader {
            height: 45px;
            width: 100%;
            background: url("../../Content/Mobile/header.png") no-repeat center top;
            background-size: contain;
        }

        .HidFooter {
            text-align: center;
            height: 45px;
            line-height: 45px;
            width: 100%;
            background: url("../../Content/Mobile/footer.png") repeat-x;
            background-size: contain;
        }

            .HidFooter a {
                color: #0055aa;
                text-decoration: underline;
            }

        .contentImg img {
            width: 100%;
            height: auto;
        }

        .time-item {
            text-align: left;
        }

            .time-item strong {
                color: rgb(181, 22, 26);
                width: 35px;
                height: 35px;
                line-height: 35px;
                font-size: .9rem;
                font-family: Arial;
                margin-right: 5px;
                border-radius: 3px; /*box-shadow: 1px 1px 3px rgba(0,0,0,0.2);background: rgb(181, 22, 26);*/
                display: inline-block;
                text-align: center;
                float: right;
            }

            .time-item span {
                display: inline-block;
                float: right;
            }

        #day_show {
            float: left;
            line-height: 49px;
            color: #c71c60;
            font-size: 32px;
            margin: 0 10px;
            font-family: Arial,Helvetica,sans-serif;
        }

        .item-title .unit {
            background: none;
            line-height: 49px;
            font-size: 24px;
            padding: 0 10px;
            float: left;
        }

        .hover_text {
            margin-top: 0;
            float: right;
            height: 35px;
            line-height: 35px;
        }

        .hour_wrap {
            float: right;
            margin-top: -12px;
            height: 46px;
            overflow: hidden;
            padding-right: 7%;
        }

        .time-item {
            clear: both;
            height: 35px;
            padding-top: 10px;
            padding-right: 6px;
            overflow: hidden;
        }

        .hover_point {
            font-size: 20px;
            padding-top: 4px;
        }

        .yhzknum {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            padding: 0 6px;
            background-color: rgba(230,220, 228,.2);
            color: #E4393C;
            font-size: 12px;
            line-height: 1.5;
            text-align: center;
        }

        .zcz {
            float: right;
            padding: 1px 4px;
            font-size: .6rem;
            background-color: #000;
            color: #fff;
            display: none;
        }


        .detail_cmt {
            border-bottom: 1px solid #ddd;
            background: #fff;
        }

            .detail_cmt .cmt_list_wrap {
                padding: 0 10px;
            }

            .detail_cmt .cmt_list {
                font-size: 12px;
                color: #333;
                margin-bottom: -1px;
            }

                .detail_cmt .cmt_list li {
                    padding: 10px 0;
                    border-bottom: 1px solid #ddd;
                }

            .detail_cmt .cmt_list {
                font-size: 12px;
                color: #333;
                margin-bottom: -1px;
            }

            .detail_cmt .cmt_cnt {
                line-height: 1.3rem;
                padding: 5px 0;
                word-break: break-all;
                text-align: left;
                margin-top: 10px;
            }

            .detail_cmt .cmt_att {
                margin-right: -10px;
                padding-bottom: 4px;
            }

            .detail_cmt .cmt_user {
                position: relative;
            }

                .detail_cmt .cmt_user .user {
                    display: inline-block;
                    position: absolute;
                    left: 2px;
                    top: 4px;
                    max-width: 8.2em;
                    vertical-align: middle;
                }

                .buy_area .old_price_wrap, .shop_info_wrap .shop_name, .detail_cmt .cmt_user .user {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .detail_cmt .cmt_user .tip {
                    color: #999;
                    margin: 0 100px 0 8.2em;
                }


                .detail_cmt .cmt_user .date {
                    position: absolute;
                    width: 100px;
                    text-align: right;
                    color: #999;
                    right: 2px;
                    top: 4px;
                }

            .detail_cmt .cmt_sku {
                color: #999;
            }


            .detail_cmt .cmt_list_more {
                text-align: center;
                line-height: 44px;
                display: block;
            }

        .detail_cmt {
            font-family: Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
            line-height: 1.5;
            color: #666;
        }

        .footer_6 {
            border-radius: 4px;
            background-color: #E0E0E0;
            text-align: center;
            color: #505050;
            font-size: 1.3em;
            letter-spacing: 3px;
            padding: 3.5% 10%;
            display: inline-block;
            margin-left: 30px;
        }

        #number .numjj {
            display: inline-block;
            padding: 0px;
            text-align: center;
            line-height: 25px;
            background: none;
            margin: 0 !important;
        }

        #number .span_number {
            margin: 0 !important;
            height: 25px;
            text-align: center;
            -webkit-appearance: none;
        }

        .ui-notice {
            position: fixed;
            top: 50%;
            left: 50%;
            max-width: 500px;
            width: 100%;
            margin: auto;
            overflow: hidden;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
        }

            .ui-notice p {
                margin: 20px auto 40px;
                text-align: center;
                color: #999;
            }

            .ui-notice i {
                display: block;
                text-align: center;
                font-size: 100px;
                color: #ddd;
            }

        .loginTitle {
            color: #a1a1a1;
            font-size: 14px;
        }

        #btnLogin {
            width: 170px;
            height: 40px;
            font-size: 15px;
            line-height: 28px;
        }

        .li_disable {
            opacity: .3;
        }

        .commission {
            color: #FF0054;
            margin: 0;
            margin-right: 5px;
        }

        .commission-mark img {
            width: 24px;
            height: 24px;
        }

        .pull-right {
            float: right;
        }

        #btnDistribute51 {
            background-color: #e4393c;
            color: #fff;
            border: 1px solid #e4393c;
            position: relative;
            display: inline-block;
            padding: 6px 8px 7px;
            margin-bottom: 0;
            font-size: .8rem;
            font-weight: 400;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: top;
            cursor: pointer;
            outline: none 0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        .swiper-notice {
            width: 100%;
            top: 0;
            left: 0;
            z-index: 9;
            margin: 0;
            font-size: 14px;
            padding: 10px; /*background: rgba(228,113,180,0.5);*/
            background: rgba(0,0,0,0.5);
            color: #fff;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            padding-right: 24px;
        }

        #divRegOrDownloadTip > a {
            position: absolute;
            right: 6px;
            top: 9px;
            display: inline-block;
            border-radius: .8rem;
            width: 1.3rem;
            height: 1.3rem;
            font-size: 0.9rem;
            background-color: #000;
            color: #fff;
            text-decoration: none;
            text-align: center;
            line-height: 1.5;
        }

        .addCommodityDiy {
            position: absolute;
            z-index: 99;
            width: 100%;
            top: 0;
            display: none;
            left: 0;
        }

        .u-goods-title .goods-name {
            color: #000;
        }

        .u-goods-title {
            background-color: #fff;
            padding: 15px;
        }

        .item_1 .item_title {
            font-size: .8rem;
            line-height: 1rem;
            margin: 10px 5px;
            height: 2.2rem;
        }
    </style>
}
<head>
    <title>商品详情</title>
</head>
@section ClientScript{
    <script type="text/javascript">
        _assumeULikeUrl = decodeURIComponent("@ViewBag.AssumeULikeUrl");
        $(function () {
            if (DealLoginPartial == undefined) {
                return;
            }
            DealLoginPartial.setCallback(function () {
                if (sessionStorage.btntype == "gouwuche") {
                    getVipPrice();
                    addToCart();
                } else if (sessionStorage.btntype == "goumai") {
                    getVipPrice();
                    buyNow();
                } else if (sessionStorage.btntype == "diygroup") {
                    showMasIframe(3);
                } else if (sessionStorage.btntype == "distribute51") {
                    document.location.href = urlAppendCommonParams("/Distribute/CommodityDistribute?commodityId=" + getQueryString('commodityId') + "&distributorId=" + sessionStorage.distributorId);
                } else if (sessionStorage.btntype == "contactOwner") {
                    contactToOwner();
                }

            });

            function numberFormat(n) {
                if (n < 10) {
                    return "0" + n.toString();
                }
                return n.toString();
            }

            var countdown = [], countdownInterval = 0;

            function startCountdown() {
                $(".countdown").each(function (index) {
                    countdown.push({
                        arrayIndex: index
                        , seconds: parseInt($(this).data("seconds"))
                        , showObj: $(this).children("span").first()
                        , showFn: function () {

                            if (this.seconds == 0) {
                                countdown.splice(this.arrayIndex, 1);
                                this.showObj.closest("li").remove();

                                if (countdown.length == 0) {
                                    clearInterval(countdownInterval);
                                    $("#unfinishedDiyGrouplist").hide();
                                }
                                return;
                            }

                            this.showObj
                                .text(numberFormat(parseInt(this.seconds / 60 / 60)) + ":" +
                                      numberFormat(parseInt(this.seconds / 60 % 60)) + ":" +
                                      numberFormat(parseInt(this.seconds % 60)));
                            this.seconds--;
                        }
                    });
                });

                if (countdown.length > 0) {
                    countdownInterval = setInterval(function () {
                        for (var i = 0; i < countdown.length; i++) {
                            countdown[i].showFn();
                        }
                    }, 1000);
                }
            };

            getDiyGrouplist();

            //获取拼团信息
            function getDiyGrouplist() {

                var obj = {
                    appId: '@(Request.QueryString["appId"])',
                    commodityId: '@(Request.QueryString["commodityId"])',
                    outsidePromoId: '@(Request.QueryString["outPromotionId"])'
                };

                $.ajax({
                    type: "POST",
                    async: false,
                    url: "/mobile/UnfinishedDiyGrouplist",
                    data: obj,
                    success: function (data) {
                        if (data.length > 0) {
                            var html = '<div class="groupon-title">以下小伙伴正在发起团购，您可以直接参与</div>';
                            html += '<ul class="groupon-lists" data-list-count="' + data.length + '">';
                            for (var i = 0; i < data.length; i++) {
                                html += '<li><div class="item"><img class="pic" src="' + data[i].OwnerIcon + '" /><span>' + data[i].OwnerName + '</span><div class="context"><div class="num">还差' + data[i].LackMember + '人成团</div><div class="time countdown" data-seconds="' + data[i].SpareSeconds + '">剩余 <span></span>结束</div></div><a href="javascript:;" class="stranger-group-buying" data-group-id="' + data[i].GroupId + '">去参团</a></div></li>';
                            }
                            html += '</ul>';
                            $("#unfinishedDiyGrouplist").append(html);
                            $("#unfinishedDiyGrouplist").show();
                            startCountdown();
                        }
                    }
                });

            }

        });


    </script>
    <script src="../../Content/Mobile/touchScroll.js" type="text/javascript"></script>
    <script type="text/javascript" language="javascript" src="https://webapi.amap.com/maps?v=1.3&key=@Jinher.AMP.BTP.Common.CustomConfig.AmapKey&plugin=AMap.CitySearch"></script>
    <script src="/Content/Mobile/commodityDetail.js" type="text/javascript"></script>
    @Html.Raw(@Jinher.AMP.BTP.UI.Util.WebUtil.GetBehaviorRecordJs())
    <script type="text/javascript">
        var noCommodityFlag = '@noCommodity' == "True";
        service_type = "0x0002";
        var isAppSet = false;
        //是否正品会应用
        var zphUrl = "@ViewBag.ZPHUrl";
        var dialog4 = "";
        var contactUrl = "";
        var appName = "";
        var sysname = "";
        sessionStorage.type = "";
        //手动关闭下载app广告,用于控制
        var downAppFlag = false;
        var mainScrollTop = 0;
        var _contactObj = 0;
        //联系当前应用客服
        var _webImUrl = "@Html.Raw(Jinher.AMP.BTP.Common.CustomConfig.WebImUrl)";
        //start ios调用
        //多属性选择结果
        var _masSelectedResult = new Object();

        var _portalUrl = "@ViewBag.PortalUrl";
        var conUrl = "@Jinher.AMP.BTP.Common.CustomConfig.AppDownloadUrl";
        //end ios调用
        if (sessionStorage.appName != undefined && sessionStorage.appName != "") {
            //document.title = sessionStorage.appName;
        }

        function GoShop(id) {
            var str = location.href; //取得整个地址栏
            var tempStr = str;
            if (str.indexOf("?") != "-1") {
                var num = str.indexOf("?")
                str = str.substr(num + 1);
                if (str.indexOf("commodityId=") != -1) {
                    tempStr = tempStr.replace(str.substr(str.indexOf("commodityId=") + 12, 36), id);
                    window.location.href = tempStr;
                } else {
                    tempStr += "&commodityId=" + id;
                }
            } else {
                window.location.href = str + "?commodityId=" + id;
            }

        }

        function Zhiliquanyicang() {
            $("#Zhiliquan").hide();
        }

        function loadCurPage() {
            $("#freightTo").text(sessionStorage.province);
            var srcType = getQueryString('SrcType');
            if (srcType != undefined && srcType != "" && srcType != "null" && srcType != null && srcType != "undefined") {

                sessionStorage.SrcType = getQueryString('SrcType');
            }

            var SrcTagId = getQueryString('SrcTagId');

            if (SrcTagId != undefined && SrcTagId != "" && SrcTagId != "null" && SrcTagId != null && SrcTagId != "undefined") {
                sessionStorage.SrcTagId = getQueryString('SrcTagId');
            }

            if (sessionStorage.ProductType == "appcjzy") {
                $("#addshopcart").show();
            } else if (sessionStorage.ProductType == "webcjzy") {
                $("#addshopcart").show();
            } else {
                //第三方分享 隐藏联系商家
                if (sessionStorage.source == "share") {
                    $("#addshopcart").show();
                    $("#backcomlist").show();
                }
            }

            if (sessionStorage.AppType == "tuwen") {
                $("#addshopcart").show();
            }


            if (getQueryString("appId") == "cf063155-e6e9-4019-ba12-6b44b704243f") {

                $(".activity-tip").empty();
                $(".activity-tip").append('<img src="/Content/Mobile/fire-icon.png" alt="" />支付开团并喊好友参团，组团成功后等待商家发货；如组团失败，请联系智力圈客服凯文退款。微信ID：kevinmeiguo。');
            }
            else {
                $(".activity-tip").empty();
                $(".activity-tip").append('<img src="/Content/Mobile/fire-icon.png" alt="" />支付开团并喊好友参团，组团成功后等待商家发货；如组团失败，则系统自动将款项原路退还。');
            }

            // $("#footer").css("bottom", "5px");
            sessionStorage.commodityId_2 = '';
            sessionStorage.ADID = getQueryString('ADID');
            sessionStorage.CPSId = getQueryString('CPSId');


            getCommodityInfo($(document), function () {
                var _commodityInfo = JSON.parse(sessionStorage.commodityInfo);
                var ua = window.navigator.userAgent.toLowerCase();
                if (ua.match(/MicroMessenger/i) == 'micromessenger') {
                    document.title = _commodityInfo.Name;
                }
                //分享
                shareCommodityDetail(3);
                //组织沟通数据
                setGoutongData();

                $(".img_item img").each(function () {
                    $(this).wrap("<div class='moveDiv' style='max-width: 375px;display:inline-block;'><div class='imgWrap' style='max-width: 375px;position: relative;'></div></div>");
                    if ($("#selfTakeFlag").val() == 1) {
                        $(this).after("<div class='selfTake' >\r\n<img class='selfTakeImg' style='display: block;max-width: 375px; ' src='/Images/selftake.png' alt='自提' />\r\n</div>");
                    }
                });
                new ImgItem();
                $(".moveDiv").css("display", "inline-block");
                $(".imgWrap").css("position", "relative");

                var img = $('#img');


                var footer = $('#footer');
                //		img.find('.title').css({
                //			Height: img.find('.title').find('p').height()
                //		});
                footer.find('.footer_3').css({
                    height: footer.height()
                });
                //直接购买
                $('#btnDirectBuy').on("click", function () {
                    if ($("#btnDirectBuy").is(".disabled")) {
                        return;
                    }
                    sessionStorage.btntype = "goumai";
                    DealLoginPartial.initPartialPage();
                });
                //开团、参团。
                $("#btnDiyGroup, .stranger-group-buying").on("click", function () {




                    //判断是否登录，未登录跳转到登录页
                    if (isLogin()) {

                        if ($("#btnDiyGroup").is(".disabled")) {
                            return;
                        }
                        if ($(this).hasClass("stranger-group-buying")) {
                            var groupId = $(this).data("group-id");

                            if (location.href.indexOf("diyGroupId") == -1) {
                                if (location.href.indexOf("?") != -1) {
                                    window.history.pushState({}, 0, location.href + "&diyGroupId=" + groupId);
                                }
                                else {
                                    window.history.pushState({}, 0, location.href + "diyGroupId=" + groupId);
                                }
                            }


                        }

                        //开 || 参
                        var action = $(this).children().eq(1).children().first().text();
                        if (action == "参" || $(this).hasClass("stranger-group-buying")) {
                            //检测拼团状态
                            $.getJSON("/mobile/CheckDiyGroup", { diyGroupId: groupId }, function (json) {
                                if (json.ResultCode === 0 && !json.Data.IsCompleted) {
                                    sessionStorage.btntype = "diygroup";
                                    DealLoginPartial.initPartialPage();
                                }
                                else {
                                    alert("哎呀，下手慢了。再看看其他人的团吧");
                                    location.reload(true);
                                }
                            });
                        }
                        else {
                            sessionStorage.btntype = "diygroup";
                            DealLoginPartial.initPartialPage();
                        }

                    } else {
                        DealLoginPartial.initPartialPage();
                    }




                });

                $('.item_num').keyup(function () {
                    var commodityUpInfo = JSON.parse(sessionStorage.commodityUpInfo);
                    $("#money_count").html(Math.abs(commodityUpInfo.realPrice * $.trim($(this).val())).toFixed(2));
                });
                $("#backcomlist").bind("click", function () {
                    sessionStorage.page = 1;
                    window.location.href = urlAppendCommonParams("/Mobile/CommodityList?type=" + sessionStorage.AppType + "&shopId=" + sessionStorage.appId);
                });

                //添加到购物车
                $("#addshopcart").bind("click", function () {
                    if (sessionStorage.isSecKill) {
                        return;
                    }

                    if (sessionStorage.PromotionType === "1" || sessionStorage.PromotionType === "2") {
                        return;
                    }

                    //行为记录->加入购物车操作
                    logBTP(sysname || sessionStorage.SrcType, service_type, "0x0004", sessionStorage.commodityId_2 || getQueryString('commodityId'));
                    $("#btnshopcart").show();
                    var $addCommodity = $('#addCommodity');
                    var $clearAddCommodityParent = $('#clearAddCommodity').parent();

                    $addCommodity.height($(document).height()).show();

                    if ($clearAddCommodityParent.height() > $(document).height()) {
                        $addCommodity.height($clearAddCommodityParent.height());
                    }

                    if (sessionStorage.Stock == '已售完') {
                        $addCommodity.find('.span_number').val('已售完');
                        $addCommodity.find('.span_number').attr("readonly", "readonly");
                    } else {
                        $addCommodity.find('.span_number').removeAttr("readonly");
                    }
                });

                $('#addCommodity_3').height($(window).height()).find('.clear').on("click", function () {
                    $('#addCommodity_3').hide();
                });

                $('#update').on("click", function () {
                    //window.UpdateApp.update();
                    window.location.href = "@ViewBag.BTPAppresUrl" + '/app/GetAppDetail?appId=' + sessionStorage.appId;
                });

                $('#dol').on("click", function () {
                    window.location.href = "@ViewBag.BTPAppresUrl" + '/app/GetAppDetail?appId=' + sessionStorage.appId;

                });
                $("#ajaxLoadBlind").remove();
                if (sessionStorage.isSecKill) {
                    var needSeconds = parseInt(sessionStorage.startSecKillTime.split("(")[1].split(")")[0] - (new Date()).getTime());
                    if (needSeconds > 1000) {
                        timer(sessionStorage.startSecKillTime.split("(")[1].split(")")[0], function () {
                            sessionStorage.isSecKill = '';
                            $('.hover_text').text("秒杀开始！");
                            //$(".time-item").hide();
                        });

                    } else {
                        sessionStorage.isSecKill = '';
                    }
                }
                //商品评论，暂不启用
                //                getCommodityInfoReplays({ type: true, loadFromCache: false, limit: 3 });

                //                $(window).scroll(function () {
                //                    reviewScrollEvent();
                //                });
            });
            $("#add_closed").bind("click", function () {
                downAppFlag = true;
            });
            //            if (GetCrowdfundingState(getQueryString("shopId"), "crowdwin")) {
            //                $("#crowdwin").bind("click", function () {
            //                    CrowdfundingMessage();
            //                });
            //                $('#gotoContent').click(function () {
            //                    window.location.href = '/Mobile/CrowdfundingDesc?appId=' + getQueryString("shopId");
            //                    CloseFade();
            //                });
            //            }
            $("#provinceSel").change(function () {
                var selVal = $(this).val();
                if (selVal) {

                    $("#freightTo").text(selVal.split('_')[0]);
                    $("#freight").text(Math.abs(selVal.split('_')[1]).toFixed(2));
                }
            });
            $("#summaryEnter2").bind("click", function () {
                //window.scrollTo(0, 0);
                window.location.hash = "#review";
                mainScrollTop = document.body.scrollTop;
                window.scrollTo(0, 0);
            });
            $(".add_event1").bind("click", function () {
                //window.scrollTo(0, 0);
                window.location.hash = "#review";
                mainScrollTop = document.body.scrollTop;
                window.scrollTo(0, 0);
            });
            $(window).bind('hashchange', function () {
                //setByHash();
            });


            //setByHash();
            //            setTimeout(function () {
            //                logBTP(sysname || sessionStorage.SrcType, service_type, "0x0001", sessionStorage.commodityId_2 || getQueryString('commodityId'));
            //            }, 1000);


            $("#btnDistribute51").on("click", function () {
                sessionStorage.btntype = "distribute51";
                DealLoginPartial.initPartialPage();
            });


            $("#divRegOrDownloadTip").on("click", function (e) {
                if ($(e.srcElement).is("a")) {
                    $(".swiper-notice").hide();
                } else {
                    if (isLogin()) {
                        document.location.href = "/Distribute/AppDetail?appId=" + getEsAppId() + "&distributorId=";
                    } else {
                        sessionStorage.btntype = "pRegist";
                        sologin();
                    }
                }
            });

            if ("@ViewBag.hasReviewFunction".toLowerCase() == "false") {
                $(".add_btb").hide();
            } else {
                $(".add_btb").show();
            }
            $(".add_btb").on("click", function () {
                var commodityId = sessionStorage.commodityId_2 || getQueryString('commodityId');
                var reviewDetailUrl = "@Jinher.AMP.BTP.Common.CustomConfig.SNSUrl" + "/Evaluate/List?appId=" + sessionStorage.appId + "&productId=" + commodityId;
                document.location.href = reviewDetailUrl;
            });


            //商品属性选择子页面发送通知使用。
            window.addEventListener('message', function (e) {
                var data = e.data;
                //恢复窗口的滚动条。
                $("body").css("overflow-y", "auto");
                if (data == "close") {
                    $("#divMasRoot").hide();
                } else {
                    $("#divMasRoot").hide();
                    _masSelectedResult = e.data;
                    //sessionStorage["seledResult_" + data.operType] = JSON.stringify(data);
                    setSessionStorage('commodityUpInfo', 'number', data.number);
                    setSessionStorage('commodityUpInfo', 'size', data.size);
                    setSessionStorage('commodityUpInfo', 'color', data.color);
                    setSessionStorage('commodityUpInfo', 'price', data.price);
                    setSessionStorage('commodityUpInfo', 'realPrice', data.realPrice);
                    sessionStorage.CommodityStockId = data.CommodityStockId;

                    //加入购物车
                    if (data.operType == 1) {
                        addtoshopcartMain();
                    }
                    //直接购买
                    else if (data.operType == 2) {
                        buyNowOk();
                    }
                    //拼团
                    else if (data.operType == 3) {
                        diyGroupOK(_masSelectedResult);
                    }
                }
            }, false);
            commonEvents();
            assumeULike();
        }

        $(function () {
            saveContextDTOByUrl();
            sysname = getQueryString("sysname") || '';
            if (!isWeiXin() && (sessionStorage.source == 'share' && sessionStorage.ProductType && sessionStorage.ProductType.indexOf('cjzy'))) {
                $("#header").show();
            }
            $(".footdi").hide();
            if (noCommodityFlag)
                return;
            setProvince(loadCurPage);
        });

        /**
        * 声明图片相关事件类
        */

        function ImgItem() {
            var min_width = document.getElementsByTagName('body')[0].clientWidth; //获取浏览器窗口宽度
            var min_height = document.getElementsByTagName('body')[0].clientHeight; //获取浏览器窗口高度

            var img_box = document.getElementById('img'); //获取页面中图片标签
            var img = img_box.getElementsByClassName('img_item')[0].getElementsByTagName('img'); //获取图片标签内所有img对象
            var moveDiv = img_box.getElementsByClassName('img_item')[0].getElementsByClassName('moveDiv');
            var imgWrapDiv = img_box.getElementsByClassName('img_item')[0].getElementsByClassName('imgWrap'); //获取图片标签内所有img包对象
            var img_item = img_box.getElementsByClassName('img_item')[0]; //第一个img对象
            var imgWrap = img_box.getElementsByClassName('img_item')[0]; //第一个img div对象
            var imgWrap_length = img_box.getElementsByClassName('img_item')[0].getElementsByClassName('imgWrap').length; //容器内img对象数量
            var img_length = img.length;
            var item_width = min_width * imgWrap_length; //图片容器队列宽度
            var img_height; //单个图片高度
            var img_width; //单个图片宽度


            /**
            * 创建头部当前图片位置标签
            *
            * 标记内容为中文符号下的 · 符号(波浪线按钮)通过修改字体大小达到效果
            *
            * 如出现bug.将修改为英文标点的句号.
            */

            function createMakeImage() {
                //获取插入标签容器对象
                var make = document.getElementById('make');
                //创建一个span对象
                var makeBox = document.createElement('span');
                //插入内容
                makeBox.innerHTML = '·';
                //遍历图片个数,生成同个数的标记
                for (var i = 0; i < img_length; i++) {
                    //克隆对象.
                    var clone = makeBox.cloneNode(true);
                    //第一位添加选中颜色
                    if (!i) {
                        clone.style.color = '#95040D';
                    }
                    //将标记对象插入容器对象内.
                    make.appendChild(clone);
                }
                //获取当期标签对象的宽度,并除以2,得到的值将是居中偏移量的值.
                make.style.cssText = 'margin-left:' + -(make.clientWidth / 2) + 'px;';
            }

            /**
            * 设置单个图片宽度.
            *
            */

            function setImgItemWidth() {
                //遍历图片个数.对每个图片进行宽度设置.
                //将宽度设置为当期窗口大小.
                for (var i = 0; i < img_length; i++) {
                    img[i].style.maxWidth = min_width + 'px';
                    img[i].style.cssText = 'max-width:' + min_width + 'px;min-width:' + min_width + 'px';
                }
                for (var i = 0; i < imgWrap_length; i++) {
                    moveDiv[i].style.maxWidth = min_width + 'px';
                    moveDiv[i].style.cssText = 'max-width:' + min_width + 'px;min-width:' + min_width + 'px';
                    imgWrapDiv[i].style.maxWidth = min_width + 'px';
                    imgWrapDiv[i].style.cssText = 'max-width:' + min_width + 'px;min-width:' + min_width + 'px';
                }
                var clone_img_element = document.getElementById('clone_img_element');
                //初始化单个图片高度
                img_height = min_width / clone_img_element.width * clone_img_element.height;
                //初始化单个图片宽度
                img_width = min_width;
                //设置图片列表最大宽度.并设置边距
                img_item.style.cssText = 'width:' + item_width + 'px;left:0;';
                //设置图片容器高度.该容器下部分的内容错位
                img_box.style.height = img_height + 'px';
            }

            /**
            * 图片拖动事件
            */

            function setImgItemEvent() {
                var pageX; //按下时的X坐标
                var pageY; //按下时Y坐标
                var move; //移动偏移量
                var moveX; //将要移动的值
                var boxLeft; //当前容器列表left值
                var coordinate = []; //保存图片坐标值
                var item_number = 0; //图片移动标记.
                var make_item = document.getElementById('make').getElementsByTagName('span'); //当前图片位置标记对象.
                var len = moveDiv[0].offsetWidth;
                //遍历图片个数.将图片坐标插入数组内
                for (var i = 0; i < imgWrap_length; i++) {
                    coordinate.push(len * i);
                }

                img_box.addEventListener('click', function (e) {
                    var element = $(e.target);
                    var img = element.clone();
                    img.css({



                        //					maxWidth: '98%',
                        //					minWidth: '98%'
                    });


                    //                $('#img_show_box').show().find('.insert_img').append(img).css({
                    //                    top: img.height() / 2,
                    //                    left: (function () {
                    //                        var width = img.width();
                    //                        if (width <= $(window).width()) {
                    //                            return 0;
                    //                        } else {
                    //                            return img.width() / 2
                    //                        }
                    //                    })()
                    //                });
                });
                //更改
                var number = 0;
                //定时器
                var timer = null;

                function setTimer() {
                    timer = setInterval(function () {
                        number++;

                        if (number == coordinate.length) {
                            number = 0;
                        }

                        img_item.style.left = -coordinate[number] + 'px';

                        for (var i = 0; i < make_item.length; i++) {
                            make_item[i].style.color = '#fff';

                        }
                        //对当前图片标签进行上色.
                        make_item[number].style.color = '#95040D';

                    }, 1000)

                }

                setTimer()
                $('.img_item').on('mouseover', function () {

                    clearInterval(timer);

                });
                $('.img_item').on('mouseout', function () {

                    setTimer();

                });
                $('#img_show_box').on('click', function (e) {
                    $(this).hide().find('.insert_img').empty();
                });

                //按下时事件.
                img_box.addEventListener('touchstart', function (e) {
                    //			e.preventDefault();
                    var touch = e.changedTouches[0];
                    //获取当前容器列表的left值
                    boxLeft = parseInt(img_item.style.left);
                    //获取当前按下时x值
                    pageX = touch.pageX;
                    clearInterval(timer);
                });
                //移动时事件
                img_box.addEventListener('touchmove', function (e) {
                    e.preventDefault();
                    var touch = e.changedTouches[0];
                    //移动偏移量
                    move = touch.pageX - pageX;
                    //将要移动的值
                    moveX = boxLeft + move;
                    //给容器移动
                    img_item.style.left = moveX + 'px';
                });
                //抬起时
                img_box.addEventListener('touchend', function (e) {
                    //			e.preventDefault();
                    var minLeft = 0; //最左边距
                    var maxRight = item_width - img_width; //最右边距
                    //当移动量大于最左边距时,将图片列表容器归位
                    if (moveX > minLeft) {
                        img_item.style.left = minLeft;
                    } else if (Math.abs(moveX) > maxRight) { //当最右边距超出时,重新归位
                        img_item.style.left = -maxRight + 'px';
                    }

                    //设置相关事件
                    //1为向左移动
                    //2为向右移动.

                    function moveEvent(type) {
                        switch (type) {
                            case 1:
                                moveFun(1);
                                break;
                            case 2:
                                moveFun(0);
                                break;
                        }
                        //相关事件函数.
                        //number为坐标跳转值

                        function moveFun(number) {
                            for (var i = 0; i < imgWrap_length; i++) {
                                var moveNumber = i + number;
                                if (moveNumber < imgWrap_length && moveNumber >= 0) {
                                    if (Math.abs(moveX) > coordinate[i] && Math.abs(moveX) < coordinate[i + 1]) {
                                        item_number = moveNumber;
                                        img_item.style.left = -coordinate[moveNumber] + 'px'
                                    }
                                }
                            }
                        }

                        //遍历标记容器内容.将颜色重置.
                        for (var i = 0; i < make_item.length; i++) {
                            make_item[i].style.color = '#fff';


                        }
                        //对当前图片标签进行上色.
                        make_item[item_number].style.color = '#95040D';
                    }

                    //判断是向右移动还是向左移动.
                    //正数为向左移动.
                    //负数为向右移动.
                    if (move < 0) {
                        if (Math.abs(move) > 60) {
                            moveEvent(1);
                        } else {
                            img_item.style.left = -coordinate[item_number] + 'px'
                        }
                    } else {
                        if (Math.abs(move) > 60) {
                            moveEvent(2);
                        } else {
                            img_item.style.left = -coordinate[item_number] + 'px'
                        }
                    }
                });
            }

            function setSessionStorageItemHeightAndImgHeight() {
                var imgs = document.createElement('img');
                imgs.src = '/Content/Mobile/1.png?' + new Date().getTime();
                imgs.onload = function () {
                    var parent_item = $('#parent_item').clone().show();
                    $('body').append(parent_item);
                    sessionStorage.img_height = Math.round(parent_item.width() / this.width * this.height);
                    //parent_item.find('.position_r').append(imgs);
                    sessionStorage.item_height = parent_item.height() - 15;
                    parent_item.remove();
                };
            }

            //初始化对象方法.
            (function () {
                setImgItemWidth();
                setImgItemEvent();
                createMakeImage();
            })();
        }


        function JsVilaDataNull(obj) {
            if (obj != undefined && obj != "" && obj != "null" && obj != null && obj != "undefined" && obj) {
                return true;
            } else {
                return false;
            }
        }

        var _TempAppid = "";

        function CrowdfundingMessage() {

            if ($.trim($('#hidDivContent').html()) == "") {
                getDataAjax2({
                    type: "post",
                    url: '/mobile/GetCrowdfundingSlogan',
                    async: false,
                    data: { "appId": getQueryString("shopId") },
                    dataType: "json",
                    callback: function (data) {
                        $('#hidDivContent').html(decodeURIComponent(data));
                    }
                });
            }
            _TempAppid = getQueryString("shopId");
            document.getElementById('light').style.display = 'block';
            document.getElementById('fade').style.display = 'block';
            //$("#light").css("height", "370px");

        }

        function CloseFade() {
            document.getElementById('light').style.display = 'none';
            document.getElementById('fade').style.display = 'none';
        }

    </script>
}
@if (noCommodity)
{
    <div id="box" style="padding: 0">
        <!-- <div id="header">
            <span class="header_span_1_2"></span><span class="header_span_2">商品详情</span>
        </div>-->
        <div class="ui-notice">
            <i>
                <img src="../../Content/Mobile/redredenvelope/fail.png" alt="" style="margin: auto;
                    width: 160px;">
            </i>
            <p class="loginTitle">
                商品不存在
            </p>
        </div>
    </div>
}
else
{
    <div id="box" style="padding: 0; border-top: 0px;">
        <!--<div id="header">
            <span class="header_span_1_2"></span><span class="header_span_2">商品详情</span>
        </div>-->
        <input type="hidden" id="selfTakeFlag" />
        <div id="divRegOrDownloadTip" style="position: relative;">
            <p id="pDownload" class="swiper-notice" style="display: none;">
                点击此处下载 <span id="spanAppName"></span>App,管理佣金和下级分销商
            </p>
            @*            <p id="pRegist" class="swiper-notice" style="display: none;">
                注册就能成为分销商拿佣金哦，点此立即注册</p>*@ <a href="javascript:void(0);">×</a>
        </div>
        <div id="img" class="clearFloat">
            <div id="make">
            </div>
            <img src="/Content/Mobile/2.jpg" class="img noDisplay" alt="" id="clone_img_element" />
            <div style="min-height: 280px;">
                <ul class="img_item">
                    <li>
                        <img src="/Content/Mobile/com_default.png" style="width: 100%; height: auto;" />
                    </li>
                </ul>
            </div>
            <div id="promotionMsg" style="display: none; position: absolute; top: 0; left: 0;
                right: 0; bottom: 0; z-index: 129; pointer-events: none;">
                <div style="position: absolute; top: 50%; left: 50%; width: 60px; height: 60px; margin-left: -30px;
                    margin-top: -30px; background-color: rgba(0,0,0,.8); border-radius: 50%; color: #fff;
                    line-height: 60px; text-align: center;">
                </div>
            </div>
            <!-- <div class="title">
                     <div class="title_bg">
                     </div>
                     <p>
                     </p>
                 </div>  -->
        </div>
        <div id="property">
            <div id="property_1" class="u-goods-title">
                <div class="goods-name" id="title">
                </div>
                <div id="promotionDesc" class="goods-introduce text-justify" style="word-wrap: break-word;">
                </div>
                <div id="cmdtyProperties" style="padding-top: 15px; display: none;">
                </div>
                <div id="divPriceDiy" class="group-price" style="display: none;">
                    拼团价： <span class="now-price" id="spanPriceDiy"><i>@Currency()</i>0.00</span> <del>
                        <span class="age-price" id="spanPriceOri">@Currency()0.00</span>
                    </del>
                    <div class="people-num">
                        已有<span id="spanJoinPersonCount">400</span>人参团 <span id="spanCommission" class="pull-right"
                                                                             style="display: none;" style="color: #999;">
                            佣金 <span class="commission">@Currency()0.00</span>
                            <a href="/ShareRedEnvelope/ShowRuleDescription/" style="position: relative; width: 22px;
                                height: 22px; float: right; margin-top: -3px;">
                                <img src="/Content/Mobile/wenhao.png" style="position: absolute; top: 0; left: 0;
                                    width: 100%; height: 100%;" />
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <!--已经发起的团购start-->
            <section id="unfinishedDiyGrouplist" class="groupon-wrap hide"></section>
            <!--已经发起的团购end-->
            <div class="activity-instruction">
                <div class="instruction-head">
                    <span>活动说明</span> <a href="/Mobile/DiyGroupActivityRule">查看更多></a>
                </div>
                <div class="steps" style="margin: 2px 0;">
                    <div class="step active">
                        <div>
                            <div class="step-text">
                                选择<br />
                                心仪商品
                            </div>
                            <div class="triangle">
                            </div>
                            <div class="step-num">
                                1
                            </div>
                        </div>
                    </div>
                    <span>></span>
                    <div class="step">
                        <div>
                            <div class="step-text">
                                支付开团<br />
                                或参团
                            </div>
                            <div class="triangle">
                            </div>
                            <div class="step-num">
                                2
                            </div>
                        </div>
                    </div>
                    <span>></span>
                    <div class="step">
                        <div>
                            <div class="step-text">
                                等待好友<br />
                                参团支付
                            </div>
                            <div class="triangle">
                            </div>
                            <div class="step-num">
                                3
                            </div>
                        </div>
                    </div>
                    <span>></span>
                    <div class="step">
                        <div>
                            <div class="step-text">
                                达到人数<br />
                                组团成功
                            </div>
                            <div class="triangle">
                            </div>
                            <div class="step-num">
                                4
                            </div>
                        </div>
                    </div>
                </div>
                <div class="activity-tip">
                </div>
            </div>
            <div id="divDistribute51" style="display: none; height: 32px; margin-top: 10px; padding: 5px 10px 0;
                background-color: #fff;">
                <a id="btnDistribute51" class="btn btn-primary pull-right btnDistribute51" style="color: #fff;
                    right: 6px;">我要分销</a> <span style="clear: both;"></span>
            </div>
            <div class="add_wrap">
                <div class="add_list clearFloat">
                    <div class="logistics u-g-freight" style="width: 30%; height: auto;">
                        <h2 style="padding-right: 5px; text-align: left;">
                            运费至<span>
                                <a id="freightTo" class="u-link-select" href="javascript:void(0);">
                                    选择收货地址
                                    <select id="" name="">
                                        <option value="北京">北京</option>
                                        <option value="河北省">河北省</option>
                                        <option value="陕西省">陕西省</option>
                                        <option value="湖北省">湖北省</option>
                                        <option value="河南省">河南省</option>
                                        <option value="湖南省">湖南省</option>
                                    </select>
                                </a>
                            </span><span id="freight"></span>元
                        </h2>
                    </div>
                    <div class="sales" style="width: 30%; display: none;">
                        <h2>
                            已售
                        </h2>
                        <div class="color_1 type_5">
                        </div>
                    </div>
                    <div class="point" style="width: 30%; display: none;">
                        <h2>
                            库存
                        </h2>
                        <div class="type_4">
                        </div>
                    </div>
                </div>
            </div>
            <div id="partialFree" style="color: #999; padding-left: 10px; line-height: 24px;
                font-size: 10px; background: #ecf0f1;">
            </div>
            <div id="DivDutys" class="add_wrap" style="padding: 5px 15px; background-color: #fff;
                font-size: 12px;">
                <h2 style="width: 100%">
                    关税：@Currency()<span></span><span id="divDuty"></span>
                </h2>
            </div>
        </div>
        <div class="add_sql" id="add_sql_bd">
        </div>
        <div class="add_btb" style="display: none; background-color: #ffffff; margin-bottom: 10px;">
            <span style="border-top: 0px; border-bottom: 0px; color: #838383;">
                商品评价( <b id="reviewCount"
                         class=""></b>)<i class="add_event1"></i>
            </span>
        </div>
        <div class="attach" id="Mvideo" style="display: none">
            <div class='audio'>
                <div class='audioLinkDiv'>
                    <video src="" id="MVPVideo" poster="" controls="controls" type="video/mp4" style="background-color: #000;
                        max-width: 500px; min-height: 400px; width: 100%" preload="none"></video>
                </div>
            </div>
        </div>
        <div id="content">
            <div id="nav">
                <div id="content_box">
                    <div class="content_ content_1">
                    </div>
                </div>
            </div>
        </div>
        <div class="detail_cmt" style="display: none">
            <!-- cmt_tag -->
            <div class="cmt_list_wrap">
                <ul id="reviewList" class="cmt_list"></ul>
                <span><a href="javascript:;" id="summaryEnter2" class="cmt_list_more">查看全部评论</a></span>
                <div id="morReview" style="width: 100%; text-align: center; height: 25px; line-height: 25px;">
                    没有更多评论
                </div>
            </div>
            <!-- list -->
        </div>
        <div id="connection" class="add-chart clearFloat @connectionStyle">
            <a href="javascript:;" id="backcomlist">
                <i class="jindianguang" style="left: 20px;">
                </i>进店逛逛
            </a> <a href="javascript:;" id="contactOwner" class="no_alitext">
                <i class="lianxishangjia"
                   style="left: 20px;"></i>联系商家
            </a>
        </div>
        <div style="width: 100%; @*display: none;*@" id="RelationProduct">
            <div data-role="fieldcontain">
                <div class="g-add-hd" style="text-align: center">
                    更多您可能喜欢
                </div>
                <!-- <div style="width: 100%; padding-left: .1rem;">
                         <span id="RelationProductImg"></span>
                     </div> -->
            </div>
        </div>
        <div id="items" class="clearFloat">
        </div>
        <div id="img_show_box">
            <div class="mask">
            </div>
            <div class="insert_img">
            </div>
        </div>
        <div id="footer" style="text-align: center; font-size: 0.9em; z-index: 200;">
            <div class="time-item" style="display: none">
                <strong id="second_show">00</strong><span class="hover_point">:</span> <strong id="minute_show">
                    00
                </strong><span class="hover_point">:</span><strong id="hour_show">00</strong>
                <span class="hover_text">倒计时</span>
            </div>
            <div class=" footer_5 " id="backcomlist" style="margin-right: 15px; margin-left: -12px;
                display: none;">
            </div>
            <a class="btn_fav" href="javascript:;" id="fav" manualclick="xxx" pppptag="7001.1.23">
                <i class="i_cang"></i>
                <div>
                    收藏
                </div>
            </a>
            <div class="footer-btn">
                <div class="alone-buy" id="btnDirectBuy">
                    <div class="alone-buy-price">
                        @Currency()0.00
                    </div>
                    <div>
                        单独购买
                    </div>
                </div>
                <div class="open-group" id="btnDiyGroup">
                    <div class="open-group-price">
                        @Currency()0.00
                    </div>
                    <div class="open-group-go">
                        立即<span>开</span>团(<span>0</span>人)
                    </div>
                </div>
            </div>
            <div class="footer_3">
            </div>
        </div>
    </div>
}
<div id="addCommodity_3" class="addCommodity">
    <div class="addCommodity_1 clear">
    </div>
    <div class="addCommodity_5">
        <h2>
            抱歉，您需要升级新版本才能使用！
        </h2>
        <p>
            <span class="footer_2 clear" style="margin-right: 0.5em">取消</span> <span class="footer_2"
                                                                                     id="update">立即升级</span>
        </p>
    </div>
</div>
<div class="yingc" style="display: none;">
    <div class="item_1_s">
        <div class="position_r">
            <div class="yhzknum">
            </div>
            <div class="goods-photo">
                <img src="" alt="" />
                <div class="selfTake" style="">
                    <img class="selfTakeImg" src="/Images/selftake.png" alt="自提" />
                </div>
            </div>
            <div class="zk">
            </div>
            <div class="mb_box noDisplay" style="z-index: 121;">
                <div class="mb">
                </div>
                <p class="mb_1" style="z-index: 121;">
                    已售完
                </p>
            </div>
        </div>
        <p class="item_title">
            {name}
        </p>
        <p class="item_price">
            <span class="price_1">{price1}</span><span class="price_2">{price2}</span>
        </p>
    </div>
    <div class="item_1 noDisplay" id="parent_item" style="background-color: #E6E6EC;">
        <div class="item_1_s">
            <div class="position_r">
                <div class="yhzknum">
                </div>
                <div class="goods-photo">
                    <img class='picLazyLoadImg' src='/Content/Mobile/1.png' data-original='' alt='' />
                    <div class="selfTake" style="">
                        <img class="selfTakeImg" src="/Images/selftake.png" alt="自提" />
                    </div>
                </div>
                <div class="zk">
                </div>
                <div class="mb_box noDisplay" style="z-index: 121;">
                    <div class="mb">
                    </div>
                    <p class="mb_1" style="z-index: 121;">
                        已售完
                    </p>
                </div>
            </div>
            <p class="item_title double_row" style="text-align: left">
                {name}
            </p>
            <p class="item_price">
                <span class="price_1">{price1}</span><span class="price_2">{price2}</span><span class="zcz"
                                                                                                style="display: none">众筹</span>
            </p>
        </div>
    </div>
</div>
<div style="height: 100px;">
    <br />
    <br />
</div>
<div id="fade" class="black_overlay">
</div>
<div id="light" class="white_content">
    <div id="fadeContent" style="background-color: #fff6cd; position: relative; z-index: 1002;">
        <div class="HidHeader">
            <div style="float: right; cursor: pointer;" onclick="CloseFade();">
                <img src="../../Content/Mobile/close.png" width="20em" height="20em" />
            </div>
        </div>
        <div style="clear: both;">
        </div>
        <div id="hidDivContent" class="contentImg" style="height: 310px; overflow: auto;
            margin: 0 5px;">
        </div>
        <div class="HidFooter" id="gotoContent">
            <a href="###">猛戳这里查看众筹详情</a>
        </div>
    </div>
</div>
<div id="review_clone" class="clearFloat noDisplay">
    <div class="cmt_user">
        <span class="user"></span><span class="tip"></span><span class="date"></span>
    </div>
    <div class="cmt_cnt">
    </div>
    <div class="cmt_att">
    </div>
    <div class="cmt_sku">
        <span class="cmt_sku1"></span>
    </div>
</div>
<div id="val-overlay" style="display: none;">
    <div id="valGetDiv" style="position: fixed; top: 50%; left: 50%; margin-left: -120px;
        margin-top: -80px; width: 240px; height: 180px; z-index: 130; background-color: #f5f5f5;
        border-radius: 3px; box-shadow: 0 0 8px #909090;">
        <h1 style="height: 60px; line-height: 60px; text-align: center; font-size: 16px;
            font-weight: bolder;">
            需要验证码
        </h1>
        <div style="line-height: 20px; margin: 10px 14px; height: 46px; border-bottom: 1px solid #DDD;">
            <input type="text" id="val-txtVali" maxlength="4" style="float: left; height: 24px;
                width: 140px; border: 1px solid #DDD;" />
            <img src="" title="验证码" id="val-valImg" style="float: left; margin-left: 10px; width: 60px;" />
        </div>
        <div style="clear: both; text-align: center; margin-top: 18px;">
            <input type="button" id="val-cancel" value="取消" style="width: 80px; border-radius: 3px;
                background-color: #E2E2E2; padding: 3px;" />
            <input type="button" id="val-submit" value="提交" style="width: 80px; border-radius: 3px;
                background-color: #ff0054; padding: 3px; color: #FFF;" />
        </div>
    </div>
    <div id="okMsgDiv" style="position: fixed; top: 50%; left: 50%; margin-left: -120px;
        margin-top: -80px; width: 240px; z-index: 130; background-color: #f5f5f5; border-radius: 3px;
        box-shadow: 0 0 8px #909090; padding-bottom: 10px; display: none;">
        <p style="margin-top: 18px; text-indent: 2em; line-height: 20px; margin: 10px 14px;
            height: 46px; border-bottom: 1px solid #DDD;">
        </p>
        @*<div style="  position: absolute;  bottom: 0px;">
                <input type="button" class="okMsgClose" value="知道啦" style="  width: 118px;  height: 26px;" />
                <input type="button" id="btnGotoMyPresell" class="okMsgClose" value="我的预约" style="  width: 118px;  height: 26px;"/>
            </div>*@
        <div style="clear: both; text-align: center; margin-top: 18px;">
            <input type="button" value="知道啦" class="okMsgClose" style="width: 80px; border-radius: 3px;
                background-color: #E2E2E2; padding: 3px;" />
            <input type="button" id="btnGotoMyPresell" class="okMsgClose" value="我的预约" style="width: 80px;
                border-radius: 3px; background-color: #ff0054; padding: 3px; color: #FFF;" />
        </div>
    </div>
    <div style="position: fixed; top: 0; left: 0; background-color: gray; width: 100%;
        height: 100%; z-index: 128; opacity: .3;">
    </div>
</div>
<div id="divNotLoginTemplate" style="display: none">
    <div class="ui-notice">
        <i>
            <img src="../../Content/Mobile/redredenvelope/fail.png" alt="" style="margin: auto;
                width: 160px;">
        </i>
        <p class="loginTitle">
            商品不存在或已删除
        </p>
    </div>
</div>
<div id="divMasRoot" style="position: fixed; bottom: 0px; z-index: 210; display: none;">
    <iframe id="iframeMas" src="/Mobile/MultiAttributeSelector?@("?appId=" + Request["appId"])"></iframe>
</div>

<div id="Zhiliquan" style="position:fixed;top:0;left:0;bottom:0;right:0;max-width: 500px;margin:0 auto;background:rgba(0,0,0,.5);display:none;z-index:2;">
    <div style="position:absolute;top:50%;left: 50%;width: 280px;height:300px;margin-top:-150px;margin-left: -140px;background:#fff;text-align: center;border-radius:5px;-webkit-border-radius:5px;">
        <a href="javascript:void(0)" style="position: absolute;top: 0;right: 0;display: inline-block;padding: 10px;line-height: 12px;color: #000;" onclick="Zhiliquanyicang()">x</a>
        <img src="../../Images/kevin.png" style="width: 270px;height:280px" />
    </div>
</div>

